@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,500);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif', arial;
	text-align:center;
}

body {
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    background: #fff;
    margin-top: 60px;
}

::selection {
    color: #fff;
    background: #1371AF;
}

::-moz-selection {
    color: #fff;
    background: #1371AF;
}

p {
    color: #858585;
}

.pDark p {
    color: #2B2B2B;
}

h2 {
    font-variant: small-caps;
    font-size: 30px;
}

h3 {
    font-variant: small-caps;
    font-size: 2em;
}

.button-outline {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(255,255,255,0.15);
}

    .button-outline:hover {
        color: #fff;
        background: rgba(255,255,255,0.35);
    }

a {
    color: #1371AF;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

    a:hover {
        color: #2593DB;
        text-decoration: none;
    }

.btn {
    border: 0px;
 
}

    .btn:hover {
        background: #2593DB;
    }

.btn-primary {
    background: #108bea;
}

.form-control {
    border-radius: 0px;
}

.mrgn30 {
    margin: 30px 0;
}

.copyright {
    color: #6D6D6D;
    background: #202527;
    padding: 20px 0;
}

#top {
    position: relative;
}

.topHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}

.tray {
    border: 1px solid #1371AF;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
}

    .tray .fa {
        color: #1371AF;
        display: block;
        text-align: center;
        font-size: 3em;
    }
/* Header 
----------------------------------------------*/
#main-nav {
    background: white;
}

.header {
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 10;
    border-radius: 0;
    /*  box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-top: 2px solid #1371AF;*/
}

    .header .navbar-brand {
        margin-left: 15px;
    }

.navbar-inverse .navbar-toggle {
    border-color: #1371AF;
    background-color: #1371AF;
}

    .navbar-inverse .navbar-toggle .icon-bar {
        /*background-color: #1371AF;*/
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background: #1371AF;
    }

        .navbar-inverse .navbar-toggle:hover .icon-bar {
            background: #fff;
        }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #1371AF;
}

.navbar-toggle {
}
/*----Nav ----*/
.header .navbar-brand {
    float: left;
    padding: 16px 15px;
    line-height: 18px;
    height: 50px;
    /*color:#1371AF;*/
}

.navbar-brand b {
    color: #1371AF;
}

.logo {
    font-size: 20px;
    text-shadow: none;
}

    .logo:hover {
        color: #5A5A5A;
    }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #2593DB;
    box-shadow: none;
}

.header .navbar {
    margin: 0;
    background: #fff;
    border: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #100101;
    font-size: 1.2em;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #1371AF;
    background: none;
}

.navbar-nav > li:hover, .navbar-nav > li a:hover {
    color: #1371AF;
}

.header .navbar-nav > li > a {
    padding: 25px 18px;
}

.header .navbar, .navbar-inverse {
    background: none;
}

.page-section {
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
}

    .page-section h1 {
        font-size: 3.5em;
        margin: 90px 0 30px;
        line-height: 1.2em;
    }

        .page-section h1 span {
            font-weight: 200;
        }

    .page-section h2 {
        color: #1371AF;
    }

    .page-section p {
        font-size: 1.1em;
       
    }

.darkBg {
    background: #2d3538;
}

    .darkBg h2 {
    }

    .darkBg h3 {
        color: #CACACA;
    }

    .darkBg .media {
        margin-bottom: 20px;
    }

#services .fa {
    color: #E0E0E0;
    font-size: 40px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.09);
    text-align: center;
    display: block;
    border-radius: 10%;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.item-content .fa {
    color: #80878F !important;
}

.img-circle {
    border-radius: 5%;
}
/*--- Banner ----*/
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: 2px 100%;
    background: url("../images/overlay.html") rgba(0,0,0,.6) !IMPORTANT;
}

.banner-container {
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    max-height: 600px;
    height: 600px;
    background: #0d1836 url("../images/banner-bg.jpg") left bottom no-repeat;
    background-size: 100% 100%;
  
}

.bannerOverlay {
    content: '';
    width: 100%;
    position: absolute;
    background-image: url(../images/bg_line.html);
    background-repeat: repeat;
    max-height: 600px;
    height: 600px;
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 3;
}

    .banner-content h2 {
        color: #fff;
        font-size: 3.5em;
        margin: 2% 0 30px;
        line-height: 1.2em;
    }

    .banner-content p {
        font-size: 1.9em;
        font-weight: normal;
        color: #B9B9B9;
    }

.sub-heading {
    padding: 15px 0;
}

    .sub-heading h2 {
        font-size: 18px;
        margin: 15px 0 8px !important;
    }

    .sub-heading p {
        color: #5A5A5A;
    }

.heading {
    padding-bottom: 30px;
}

    .heading p {
        font-size: 15pxm;
    }

.pdingBtm30 {
    padding-bottom: 30px;
}
/* Services
    -------------------------------------------------*/
.media-heading {
    color: #fff;
}
/* Team
    ---------------------------------------------------*/
.team-member {
    margin-bottom: 15px;
}

    .team-member .designation {
        margin-top: 5px;
        display: block;
        font-size: 13px;
    }

    .team-member .member-img img {
        max-width: 250px;
        margin: 0 auto;
        /*border:2px #D3D3D3 solid;*/
    }

    .team-member h3 {
        font-size: 22px;
        line-height: 32px;
        margin: 10px 0 0 15px;
        /*text-align:center;*/
    }

    .team-member .pos {
        display: block;
        color: #fff;
        margin: 0 0 0 15px;
        /*text-align:center;*/
    }

    .team-member .contact a {
        padding: 0 8px;
    }

.descrition {
    min-height: 90px;
    /*text-align: center;*/
    /*border-bottom: 1px solid #dadde2;*/
    padding: 5px 15px;
}


/* ------- */

.isotopeWrapper article {
    margin-bottom: 30px;
}

#product img {
    width: 100%;
	padding-bottom:10px;
}

#product article p {
    margin-bottom: 0.45em; /*set next row on the baseline*/
}

nav#filter {
    margin-bottom: 1.5em;
}

    nav#filter li {
        display: inline-block;
        margin: 0 0 0 5px;
    }

    nav#filter a {
        padding: 4px 12px;
        line-height: 20px;
        border: 1px solid #1371AF;
        text-decoration: none;
    }

.current {
    background: #1371AF;
    color: #fff;
}

.product-items article img {
    width: 100%;
}

.product-item {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .product-item img {
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        transition: all 300ms linear;
    }

    .product-item .product-desc {
        display: block;
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        color: rgba(220, 220, 220);
    }

.fancybox-overlay {
    background: rgba(0, 0, 0, 0.64);
}

.product-item:hover .product-desc {
    padding-top: 20%;
    height: 100%;
    transition: all 200ms ease-in-out 0s;
    opacity: 1;
    background: rgba(19, 113, 175, 0.70);
}

.product-item .product-desc a {
    color: #fff;
    text-align: center;
    display: block;
}

    .product-item .product-desc a:hover {
        /*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
        text-decoration: none;
    }

.product-item .product-desc .folio-info {
    top: -20px;
    padding: 30px;
    height: 0;
    opacity: 0;
    position: relative;
}

.product-item:hover .folio-info {
    height: 100%;
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
    top: 5px;
}



.product-item .product-desc .folio-info h5 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

.product-item .product-desc .folio-info p {
    color: #ffffff;
    font-size: 12px;
}

.btn {
    font-weight: 200;
	
}

.btn-dark {
    background: #444;
    color: #fff;
}

.btn-dark:hover {
    background: #000;
    color: #fff;
}
#submit.btn{
	position: absolute; 
	right: 0;
	text-align:right;
}

.back-to-top {
    display: inline-block;
    clear: both;
    background: #fff;
    color: #333;
    padding: 0 10px 5px;
    margin: 20px 0 0;
    text-shadow: none;
}

    .back-to-top:hover {
        background: #333;
        color: #fff;
        text-decoration: none;
    }

hr {
    border-color: #ddd;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#navigation {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 200px;
    background: #ffffff;
    box-shadow: 0 10px 10px -10px #000000;
}

    #navigation > li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #navigation > li > a {
            margin: 1px;
            color: #000000;
            background: #cccccc;
            display: block;
            padding: 5px;
            text-decoration: none;
            transition: all 400ms;
        }

            #navigation > li > a.current,
            #navigation > li:hover > a {
                background: #999999;
            }

.pageSection {
    min-height: 600px;
    padding: 20px;
    background: #dddddd;
}

    .pageSection:nth-child(odd) {
        background: #eeeeee;
    }

.socialIcons {
    float: left;
    margin-right: 20px;
}

    .socialIcons li {
        list-style: none;
        display: inline;
        margin-right: 6px;
    }

footer {
    background-color: #242424;
    color: #8e8e8e;
    font-size: 14px;
    padding-top: 20px;
}

    footer ul li {
        list-style: none;
    }

.contact ul li {
    margin-bottom: 10px;
}

    .contact ul li i {
        margin-right: 15px;
    }

.addBg {
    background: #fff !important;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.38);
    box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.38);
}

    .addBg ~ .navbar-header {
        display: none;
    }

.da-slide {
    top: 15%;
}

@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }

    .navbar-nav {
        float: right;
    }
}

@media (max-width: 768px) {
    .banner-container {
        background-size: contain;
    }

    .navbar-header {
        background: #fff;
    }

    #main-nav {
        background: #fff !important;
        -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.38);
        -moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.38);
        box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.38);
    }

    .team-member .member-img img {
        max-width: 100%;
    }

    .banner-container {
        width: 100%;
        max-height: 432px;
    }

    .bannerOverlay {
        max-height: 432px;
    }

    .da-slider {
        width: 100%;
        min-width: initial;
        height: 400px;
        margin: 0px auto;
    }

    .header .navbar-nav > li > a {
        padding: 25px 12px;
    }


    .product-item:hover .folio-info {
        top: 0px;
    }

    .product-item .product-desc .folio-info {
        padding: 0px;
    }

        .product-item .product-desc .folio-info h5 {
            font-size: 1em;
        }
}

@media (max-width:760px) {
    .header .navbar-nav > li > a {
        padding: 7px 12px;
        font-size: 14px;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #A8A8A8;
    }
}

@media (max-width: 480px) {
    .banner-container {
        width: 100%;
        background-size: contain;
        height: 270px;
    }
    .header .navbar-brand {
        float: left;
        padding: 10px 0px;
    }
    .webThemez {
    width:100%;
    text-align:center;
    display:block;
    }
    .bannerOverlay {
        height: 270px;
    }

    .da-slider {
        width: 100%;
        min-width: initial;
        height: 263px;
        position: relative;
        margin: 0 auto;
    }

    .da-slide {
        top: 26%;
    }

        .da-slide h2 {
            font-size: 40px;
            text-align: center;
            width: initial;
            top: 10px;
        }

        .da-slide p {
            width: 65%;
            top: 65px;
            height: 50px;
        }

    .page-section h1 {
        font-size: 3em;
    }

    .page-section h2 {
        font-size: 2em;
    }

    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }

    .product-item .product-desc .folio-info h5 {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .banner-container {
        width: 100%;
        background-size: contain;
        height: 180px;
    }

    .bannerOverlay {
        height: 180px;
    }

    .da-slider {
        width: 100%;
        min-width: initial;
        height: 145px;
        position: relative;
        margin: 0 auto;
    }

    .da-slide h2 {
        font-size: 30px;
        text-align: center;
        width: initial;
        top: 10px;
    }

    .da-dots {
        bottom: 2px;
        display: none;
    }

    .grid .text-content {
        padding-left: 29%;
        padding-right: 2%;
    }

    .product-item:hover .folio-info {
        top: 0px;
    }

    .product-item .product-desc .folio-info h5 {
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        font-size: 10px;
        margin: 10px 0 0 0;
    }

    nav#filter li {
        display: inline-block;
        margin: 0 0 23px 5px;
    }
}
