/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Lets Blog Wordpress Theme
Version:	1.0
Last change:	09/07/15 [initial release]
Assigned to:	ThemeGoods
Primary use:	Wordpress Theme 
-------------------------------------------------------------------*/

@import "reset.css";
@import "wordpress.css";

/*------------------------------------------------------------------
[Color codes]

Background:	#ffffff (white)
Content:	#444444 (grey)
Header:		#222222 (dark grey)
Footer:		#ffffff (white)

a (standard):	#222222 (dark grey)
a (hover):		#000000 (black)
a (active):		#000000 (black)
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Typography]

Body copy:		13px/1.65em 'Lato', 'Helvetica Neue', Arial,Verdana,sans-serif
Header:			30px/1.65em 'Lustria', 'Georgia', Arial,Verdana,sans-serif
Input, textarea:	13px 'Lato', 'Helvetica Neue', Arial,Verdana,sans-serif
Sidebar heading:	14px 'Lato', 'Helvetica Neue', Arial,Verdana,sans-serif
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Navigation / .top_bar
3. Footer / #footer
4. Content / #page_content_wrapper
5. Social Sharing / #social_share_wrapper
6. Sidebar / .sidebar_wrapper
7. Form & Input
8. Pagination / .pagination
9. Widgets
10. Grid Columns Elements
11. Contact Form Captcha / #captcha-wrap
-------------------------------------------------------------------*/

body
{
	background: #ffffff;
	font-family: Lato, 'Helvetica Neue', Arial,Verdana,sans-serif;
	padding: 0;
	margin: 0;
	color: #444;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 1.7;
	word-wrap: break-word;
	-webkit-overflow-scrolling: touch;
}

body.overflow_hidden
{
	overflow: hidden;
}

body.loading #wrapper
{
	opacity: .3;
}

body.notouch
{
	-webkit-overflow-scrolling: auto !important;
}

.floatleft
{
	float: left !important;
}

.floatright
{
	float: right !important;
}

.divider
{
	clear: both;
}

#wrapper
{
	float: left;
	width: 100%;
	-webkit-transition: -webkit-transform 500ms ease;
	-moz-transition: transform 500ms ease;
	-o-transition: -o-transform 500ms ease;
	transition: transform 500ms ease;
	padding-top: 271px; /* Default menu height */
}

#wrapper.hasbg
{
	padding-top: 0 !important;
}

hr
{
	height: 1px;
	border: 0;
	border-top: 1px solid #ebebeb;
	background: transparent;
	margin: auto;
	width: 100%;
	clear: both;
}

a
{
	color: #222;
	text-decoration: none;
	-webkit-transition: color .2s linear, background .1s linear;
	-moz-transition: color .2s linear, background .1s linear;
	-ms-transition: color .2s linear, background .1s linear;
	-o-transition: color .2s linear, background .1s linear;
	transition: color .2s linear, background .1s linear;
}

a:hover, .post_header h5 a:hover
{
	color: #000;
	text-decoration: none;
}

a:active, .post_header h5 a:active
{
	color: #000;
	text-decoration: none;
}

a.comment-reply-link
{
	color: #222;
}

.mobile_menu_wrapper #searchform
{
	background: #333;
	width: 85%;
}

.mobile_menu_wrapper #searchform input[type=text]
{
	background: transparent;
	width: 80%;
	border: 0;
	display: inline-block;
	color: #fff;
}

.mobile_menu_wrapper #searchform button
{
	background: transparent;
	display: inline-block;
	border: 0;
}

.mobile_menu_wrapper #searchform button i
{
	color: #fff;
	font-size: 13px;
	opacity: 0.5;
}

.mobile_menu_wrapper .widget_search #searchform
{
	background: transparent !important;
	width: 100%
}

.mobile_menu_wrapper .widget_search #searchform input[type=text]
{
	background: #333;
	width: 100%;
}

h1
{
	font-size: 34px;
}

h2
{
	font-size: 30px;
}

h3
{
	font-size: 26px;
}

h3#reply-title
{
	font-size: 18px;
	display: none;
}

h4
{
	font-size: 22px;
}

h5
{
	font-size: 18px;
}

h5.related_post, .fullwidth_comment_wrapper h5.comment_header
{
	text-align: center;
}

h6
{
	font-size: 16px;
}

h7
{
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, h7
{
	color: #222;
	font-family: 'Lato', 'Georgia', Arial,Verdana,sans-serif;
	letter-spacing: 0px;
	font-weight: 600;
}

.space
{
	margin-bottom: 5px;
}

.middle
{
	vertical-align: -30%;
}

pre, code, tt 
{
	font: 12px 'andale mono', 'lucida console', monospace;
	line-height:1.5;
	padding: 15px 10px 15px 10px;
	display: block; 
	overflow: auto; 
	margin-top: 20px;
	margin: 20px 0 20px 0;
	width:92%;
	border: 0;
	color: #000;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.clear
{
	clear: both;
}

img.mid_align
{ 
	vertical-align: middle;
	margin-right: 5px;
	border: 0;
}

.fullwidth_comment_wrapper
{
	width: 100%;
	float: left;
	border-top: 1px solid #e1e1e1;
	padding-top: 30px;
}

.fullwidth_comment_wrapper:empty
{
	display: none;
}

#commentform
{
	margin-left: -1.33333rem;
}

#commentform label
{
	display: none;
}

.logged-in-as
{
	display: none;
}

#commentform > p 
{
	padding-left: 24px;
	box-sizing: border-box;
}

#commentform p.comment-form-author, #commentform p.comment-form-email, #commentform p.comment-form-url
{
	float: left;
	width: 33.33%;
}

#page_content_wrapper .inner .sidebar_content #commentform p.comment-form-author, #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-email, #page_content_wrapper .inner .sidebar_content #commentform p.comment-form-url
{
	width: 33.33%;
}

::-webkit-input-placeholder 
{
   color: #999;
   font-style: italic;
}

:-moz-placeholder 
{ 
   color: #999; 
   font-style: italic;
}

::-moz-placeholder 
{  
   color: #999; 
   font-style: italic;
}

:-ms-input-placeholder 
{  
   color: #999;
   font-style: italic;
}

#contact_form
{
	margin-top: 20px;
}

#reponse_msg
{
	margin-top: 10px;
	font-weight: bold;
}

#contact_form input[type="text"], #contact_form textarea, #commentform input[type="text"], #commentform input[type="email"], #commentform input[type="url"], #commentform textarea 
{
  margin-bottom: 15px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#commentform input[type=text]:focus, #commentform input[type=email]:focus, #commentform input[type=url]:focus, #commentform textarea:focus
{
	border-color: #444;
	background: #f9f9f9;
}

.dropcap1
{
	display: block;
	float: left;
	margin: -1px 8px 0 0;
	font-size: 70px;
	line-height: 70px;
	text-shadow: none;
}

blockquote
{
	font-size: 16px;
	color: #444;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	opacity: 0.4;
	text-transform: uppercase;
	letter-spacing: 2px;
}

blockquote p
{
	padding: 0 !important;
}

blockquote h2
{
	font-weight: normal;
	font-size: 22px;
}

blockquote h3
{
	font-weight: normal;
	font-size: 20px;
}

#respond
{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

#respond h3, #respond .comment-notes
{
	text-align: center;
	padding: 0;
}

/*------------------------------------------------------------------
[2. Navigation]
*/

#logo_wrapper
{
	text-align: center;
	padding: 50px 0 20px 0;
	border-bottom: 1px solid #e1e1e1;
	overflow: hidden;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.top_bar.scroll #logo_wrapper
{
	height: 0;
	padding: 0;
}

.top_bar.scroll #logo_wrapper .social_wrapper
{
	display: none;
}

.logo_container
{
	display: table;
	width: 100%;
	height: 100%;
}

.logo_align
{
	display: table-cell;
	vertical-align: middle;
}

.logo_wrapper
{
	margin: 0;
	display: inline-block;
	line-height: 0;
	
	-webkit-transition: margin 0.3s, display 0.3s;
	-moz-transition: margin 0.3s, display 0.3s;
	transition: margin 0.3s, display 0.3s;
}

.logo_wrapper.hidden
{
	display: none;
}

.logo_wrapper img.zoom
{
	transform: scale(0.8) !important;
}

.above_top_bar
{
	height: 30px;
	background: #222;
	position: relative;
	z-index: 3;
}

.header_style_wrapper
{
	width: 100%;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	display: block;
}

body.admin-bar .header_style_wrapper
{
	padding-top: 32px;
}

.header_style_wrapper.nofixed
{
	display: none;
}

.top_bar
{
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	background: rgb(256,256,256,0.95);
	background: rgba(256,256,256,0.95);
	border-bottom: 1px solid #e1e1e1;
	float: left;
	
	-webkit-transition: height 0.5s, background 0.5s;
	-moz-transition: height 0.5s, background 0.5s;
	transition: height 0.5s, background 0.5s;
}

.top_bar.scroll
{
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#mobile_menu
{
	display: none;
	cursor: pointer;
}

#menu_wrapper
{
	margin:auto;
	width: 960px;
	height: 100%;
}

#nav_wrapper
{
	float: left;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}

.nav_wrapper_inner
{
	display: table-cell;
    vertical-align: middle;
}

#menu_border_wrapper > div
{
	width: 100%;
	float: left;
}

#menu_border_wrapper .notice
{
	padding: 10px 0 10px 0;
}

#autocomplete
{
    display: none;
	position:absolute;
    z-index: 1001;
	width: 232px;
	background: #fff;
	left: 42px;
	border: 1px solid #e1e1e1;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#autocomplete.visible
{
	display: block;
}

@-moz-document url-prefix() { 
  #autocomplete {
     margin-top: 20px;
  }
}

#autocomplete ul 
{
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    list-style: none;
    width: 100%;
}
#autocomplete li
{
    display:block;
    clear:both;
    float: left;
    width: 100%;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
}
#autocomplete li:first-child
{
	margin-top: 10px;
}
#autocomplete li:last-child
{
	margin-top: 10px;
	border: 0;
}

#autocomplete li strong
{
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#autocomplete li.view_all
{
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	padding: 15px;
	margin-top: 10px;
	border-top: 1px solid #e1e1e1;
}
#autocomplete li .ajax_post
{
	float:left;
	width: calc(100% - 50px);
	margin-left: 10px;
}

#autocomplete li .post_detail
{
	font-size: 10px;
}

#autocomplete a
{
	color: #222;
}

#mobile_nav_icon 
{
	display: inline-block;
	border-bottom: 9px double #444;
	border-top: 3px solid #444;
	height: 3px;
	width: 25px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;

	cursor: pointer;
	position: relative;
	margin-left: 10px;
	top: 2px;
}

#search_icon, #page_share
{
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	color: #222;
	margin-left: 10px;
}

#logo_right_button
{
	position: absolute;
	text-align: right;
	right: 30px;
}

.post_share_wrapper
{
	display: inline-block;
}

.post_share_wrapper a
{
	color: #222;
}

.mobile_menu_wrapper
{
	right: 0px;
	
	-webkit-transition: -webkit-transform 500ms ease;
	-moz-transition: transform 500ms ease;
	-o-transition: -o-transform 500ms ease;
	transition: transform 500ms ease;
	
	-webkit-transform: translate(360px, 0px);
	-ms-transform: translate(360px, 0px);
	transform: translate(360px, 0px);
	-o-transform: translate(360px, 0px);
	
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	 -webkit-overflow-scrolling: touch;
	 
	 width: 360px;
	 padding: 43px;
	 box-sizing: border-box;
	 background: #111111; 
	 position: fixed;
	 top: 0px;
	 height: 100%;
	 z-index: 999;
	 color: #999;
}

body.admin-bar .mobile_menu_wrapper
{
	padding-top: 65px;
}

body.admin-bar #close_mobile_menu
{
	top: 61px;
}

body.js_nav .mobile_menu_wrapper
{
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	overflow-y: scroll !important;
	-webkit-overflow-scrolling: touch;
}

#close_mobile_menu
{
	font-size: 22px;
	display: inline-block;
	position: absolute;
	right: 30px;
	top: 38px;
}

#close_mobile_menu:hover
{
	opacity: 1;
}

#close_mobile_menu i
{
	color: #fff;
}

.mobile_main_nav, #sub_menu
{
	margin-top: 40px;
	margin-bottom: 40px;
	list-style: none;
	overflow: hidden;
	width: 100%;
}

#sub_menu .sub-menu
{
	margin-left: 15px;
	list-style: circle;
}

#sub_menu li
{
	width: 100%;
}

.mobile_main_nav li a, #sub_menu li a
{
	color: #777;
	width: 100%;
	display: block;
	font-size: 14px;
	line-height: 3em;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Lato', 'Georgia', Arial,Verdana,sans-serif;
}

.mobile_main_nav li.current-menu-item a, #sub_menu li.current-menu-item a
{
	font-weight: 600;
}

.mobile_main_nav li a:hover, .mobile_main_nav li a:active, #sub_menu li a:active
{
	color: #fff;
}

.mobile_main_nav li.menu-item-has-children > a:after
{
	font-size: 11px;
	position: absolute;
	left: 320px;
	font-family: 'FontAwesome';
	content: "\f054";
	margin-top: 1px;
}

.mobile_main_nav li ul.sub-menu
{
	display: none;
}

.mobile_main_nav.mainnav_in
{
	-webkit-animation: mainNavIn 0.2s;
	animation: mainNavIn 0.2s;
}

.mobile_main_nav.mainnav_out
{
	-webkit-animation: mainNavOut 0.2s;
	animation: mainNavOut 0.2s;
}

#sub_menu.subnav_out
{
	-webkit-animation: subNavOut 0.2s;
	animation: subNavOut 0.2s;
}

#sub_menu.subnav_in
{
	-webkit-animation: subNavIn 0.2s;
	animation: subNavIn 0.2s;
}

#sub_menu li ul a:after
{
	display: none;
}

#menu_back
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px !important;
	margin-bottom: 5px;
}

#menu_back:before
{
	font-size: 12px;
	margin-right: 0.7em;
	position: relative;
	top: -1px;
	display: inline;
	font-family: 'FontAwesome';
	content: "\f104";
}

#overlay_background
{
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 9;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

#overlay_background.share_open
{
	background-color: rgba(0, 0, 0, 0.7);
}

#overlay_background.visible
{
	opacity: 1;
	visibility: visible;
}

body.js_nav #overlay_background {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-360px,0px);
  -moz-transform: translate(-360px,0px);
  transform: translate(-360px,0px);
}

.header_style_wrapper.fixed .top_bar #menu_border_wrapper .notice
{
	margin-top: 24px;
}

.nav, .subnav, .nav_page_number
{
	list-style: none;
	padding: 10px 0 10px 0;
}

.subnav
{
	background: none;
}

.nav > li, .nav_page_number > li
{
	display: inline-block;
}

.nav_page_number
{
	margin-top: 2px;
}

#menu_wrapper .nav ul, #menu_wrapper div .nav
{
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: 0;
}

#menu_wrapper .nav ul li, #menu_wrapper div .nav li
{
	display: inline-block;
	margin: 0;
	padding:0;
	background-color: rgba(256, 256, 256, 0);
}

#menu_wrapper .nav ul li ul li, #menu_wrapper div .nav li ul li
{
	clear: both;
	width: 100%;
	padding: 0 !important;
	margin: 0;
	text-align: left !important;
}

#menu_wrapper .nav ul li:last-child, #menu_wrapper div .nav li:last-child
{
	margin-right: 0;
}

#menu_wrapper .nav ul li a, #menu_wrapper div .nav li > a
{
	display: inline-block;
	padding: 0;
	margin: 0;
	color: #666;
	font-size: 12px;
	padding: 15px 15px 15px 15px;
	font-weight: 400;
	font-family: Lato, 'Helvetica Neue', Arial,Verdana,sans-serif;
	text-transform: uppercase;
	
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}

.top_bar.fullscreen_video #menu_wrapper div .nav > li > a, .top_bar.fullscreen_video i, .top_bar.fullscreen_video #searchform label, .top_bar.hasbg #menu_wrapper div .nav > li > a, .top_bar.hasbg i, .top_bar.hasbg .top_contact_info, .top_bar.hasbg .top_contact_info a, .top_bar.hasbg .top_contact_info a:hover, .top_bar.hasbg .top_contact_info a:active
{
	color: #fff !important;
}

#menu_wrapper .nav li.arrow > a:after, #menu_wrapper div .nav li.arrow > a:after
{
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: 10%;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	font-family: 'FontAwesome';
	content: "\f107";
	float: right;
	margin-left: 8px;
	margin-top: 5px;
}

#menu_wrapper .nav ul li.arrow > a:after, #menu_wrapper div .nav li.arrow > a:after
{
	font-size: 12px;
}

#menu_wrapper .nav ul li a.hover, #menu_wrapper .nav ul li a:hover, #menu_wrapper div .nav li a.hover, #menu_wrapper div .nav li a:hover
{
	color: #444;
	z-index: 2;
	position: relative;
}

#menu_wrapper div .nav > li.current-menu-item > a, #menu_wrapper div .nav > li.current-menu-parent > a, #menu_wrapper div .nav > li.current-menu-ancestor > a
{
	color: #444;
	z-index: 2;
	position: relative;
}

#menu_wrapper .nav ul li ul, #menu_wrapper div .nav li ul
{
	display: none;
	list-style: none;
	background: #fff;
	border: 0;
	position: absolute;
 	padding: 0;
 	width: 210px;
 	height: auto;
 	z-index: 10; 
	margin: 0;
	margin-left: -5px;
	margin-top: 0;
	z-index: 9;
	border: 0;
	border: 1px solid #e1e1e1;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


#menu_wrapper .nav ul li ul li ul, #menu_wrapper div .nav li ul li ul
{
	position: absolute;
	left: 210px;
	padding: 0;
	margin-top: -40px;
	margin-left: 0;
	display: none;
	z-index: 9;
	opacity: 1;
}

#menu_wrapper .nav ul li ul li ul:before, #menu_wrapper div .nav li ul li ul:before
{
	display: none;
}

#menu_wrapper .nav ul li:hover ul, #menu_wrapper div .nav li:hover ul
{
	display: block;
}

#menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-item ul li a, #menu_wrapper div .nav li ul li.current-menu-item a,#menu_wrapper .nav ul li ul li a, #menu_wrapper .nav ul li.current-menu-item ul li a, #menu_wrapper .nav ul li ul li.current-menu-item a, #menu_wrapper div .nav li.current-menu-parent ul li a, #menu_wrapper div .nav li ul li.current-menu-parent a
{
	display: block;
	background: transparent;
	height: auto;
}

#menu_wrapper .nav ul li ul li a, #menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-parent ul li a
{
	width: 170px;
	display: block;
	border-top: 0;
	border: 0;
	margin: 0;
	font-size: 11px;
	padding: 10px 20px 10px 20px;
	letter-spacing: 0;
	font-weight: 400;
	text-transform: none;
	border-bottom: 0 !important;
	
	-webkit-transition: color .2s linear, background .2s linear;
	-moz-transition: color .2s linear, background .2s linear;
	-ms-transition: color .2s linear, background .2s linear;
	-o-transition: color .2s linear, background .2s linear;
	transition: color .2s linear, background .2s linear;
}

#menu_wrapper .nav ul li ul li ul li a:hover, #menu_wrapper .nav ul li ul li ul li a:hover, #menu_wrapper div .nav li ul li ul li a:hover, #menu_wrapper div .nav li ul li ul li a:hover, #menu_wrapper div .nav li.current-menu-item ul li ul li a:hover, #menu_wrapper div .nav li.current-menu-parent ul li ul li a:hover
{
	color: #444;
	background: #f9f9f9;
}

#menu_wrapper .nav ul li.megamenu > ul, #menu_wrapper div .nav li.megamenu > ul
{
	position: absolute;
	width: 960px;
	left: 0;
	right: 0;
	margin-left:auto;
    margin-right:auto;
    padding: 15px;
	box-sizing: border-box;
	box-shadow: 0 32px 60px rgba(0, 0, 0, 0.1);
}

#menu_wrapper .nav ul li:not(.megamenu) ul.sub-menu li.arrow > a:after, #menu_wrapper div .nav li:not(.megamenu) ul.sub-menu li.arrow > a:after
{
	font-size:11px;
	margin-left: 0.5em;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: 10%;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	font-family: 'FontAwesome';
	content: "\f105";
	float: right;
	margin-right: 0px;
	margin-top: 5px;
}

#menu_wrapper div .nav li.megamenu ul li
{
	display: block;
	box-sizing: border-box;
	clear: none;
	float: left;
	border-left: 1px solid #eeeeee;
}

#menu_wrapper div .nav li.megamenu ul li.hidden > a
{
	display: none;
}

#menu_wrapper div .nav li.megamenu ul li:first-child
{
	border: 0;
}

#menu_wrapper div .nav li.megamenu.col2 ul li
{
	width: 50%;
	padding: 0px 12px;
}

#menu_wrapper div .nav li.megamenu.col3 ul li
{
	width: 33.3%;
	padding: 0px 12px;
}

#menu_wrapper div .nav li.megamenu.col4 ul li
{
	width: 25%;
	padding: 0px 12px;
}

#menu_wrapper .nav ul li.megamenu ul li ul, #menu_wrapper div .nav li.megamenu ul li ul
{
	position: relative;
	width: 100%;
	margin: 0;
	border: 0;
	box-shadow: 0 0 0;
	display: block !important;
	opacity: 1 !important;
	left: 0;
}

#menu_wrapper .nav ul li.megamenu ul li ul li, #menu_wrapper div .nav li.megamenu ul li ul li
{
	width: 100% !important;
	border: 0 !important;
}

#menu_wrapper div .nav li.megamenu ul li > a, #menu_wrapper div .nav li.megamenu ul li > a:hover, #menu_wrapper div .nav li.megamenu ul li  > a:active
{
	width: 100%;
	color: #444;
	box-sizing: border-box;
	background: transparent;
}

#menu_wrapper .nav ul li.megamenu ul li ul li a:before, #menu_wrapper div .nav li.megamenu ul li ul li a:before
{
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: 10%;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	font-family: 'FontAwesome';
	content: "\f105";
	float: left;
	margin-right: 8px;
	margin-top: 4px;
}

#menu_wrapper .nav ul li.megamenu ul li ul li a:hover, #menu_wrapper div .nav li.megamenu ul li ul li a:hover, #menu_wrapper .nav ul li.megamenu ul li ul li a:active, #menu_wrapper div .nav li.megamenu ul li ul li a:active
{
	color: #444;
	background: #f9f9f9;
	width: auto;
}

#menu_wrapper div .nav li.megamenu ul li a:after
{
	display: none;
}

#menu_wrapper .nav ul li.megamenu ul li ul li, #menu_wrapper div .nav li.megamenu ul li ul li a
{
	width: auto;
	display: inline-block;
	margin-left: 20px;
	padding: 7px 20px 7px 5px;
}

@media only screen and (min-width: 1100px) {
	#menu_wrapper .nav ul li.megamenu > ul, #menu_wrapper div .nav li.megamenu > ul
	{
		max-width: 1425px;
		width: 100%;
		width: calc(100% - 180px);
		box-sizing: border-box;
	}
}

.top_contact_info_container
{
	display: table;
	float: right;
	height: 100%;
	font-family: 'Lato', 'Georgia', Arial,Verdana,sans-serif;
}

.top_contact_info
{
	font-size: 12px;
	color: #222;
	float: right;
	line-height: 30px;
}

.top_contact_info i
{
	margin-right: 10px;
	color: #222;
	font-size: 14px;
	vertical-align: text-bottom;
}

.top_contact_info span
{
	display: inline-block;
	margin-left: 10px;
}

.top_contact_info a
{
	color: #444;
}

#top_menu
{
	float: left;
	display: block;
	list-style: none;
}

#top_menu li
{
	float: left;
	margin-right: 20px;
}

#top_menu li a
{
	font-size: 11px;
	font-weight: 400;
	color: #222;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#footer_menu li ul
{
	display: none;
}

/*------------------------------------------------------------------
[3. Footer]
*/

.footer_photostream_wrapper
{
	margin-top: 0;
	text-align: center;
}

.footer_photostream_wrapper i
{
	margin-right: 5px;
}

.footer_photostream
{
	margin-top: 20px;
}

.footer_photostream li
{
	width: 12.5%;
	margin: 0;
	display: inline;
	float: left;
	line-height: 0;
}

.footer_photostream li a
{
	line-height: 0;
}

.footer_photostream li img
{
	width: 100%;
	height: auto;
}

.footer_photostream_wrapper h2.widgettitle:before
{
	display: none;
}

.footer_photostream_wrapper h6
{
	text-transform: uppercase;
}

.footer_bar
{
	width: 100%;
	margin: auto;
	padding: 0 0 10px 0;
	float: left;
	background: #fff;
}

.footer_bar.noborder
{
	border: 0 !important;
}

.footer_bar.noborder .footer_bar_wrapper
{
	border: 0 !important;
}

#footer 
{
	width: 100%;
	margin: auto;
	padding-bottom: 50px;
	word-wrap: break-word;
	margin-bottom: 0;
	padding-top: 50px;
	float: left;
}

#footer a
{
	color: #000;
}

#footer a:hover, #footer a:active
{
	color: #000;
}

#footer .sidebar_widget li.widget_mc4wp_form_widget
{
	background: transparent;
}

#footer .sidebar_widget li h2.widgettitle
{
	margin-top: 15px;
	margin-bottom: 15px;
	color: #999;
	text-align: left;
}

#footer .sidebar_widget li.widget_mc4wp_form_widget h2.widgettitle
{
	color: #999;
}

#footer ul.sidebar_widget
{
	width: 960px;
	list-style: none;
	margin: 0;
	margin: auto;
}

#footer ul.sidebar_widget li ul
{
	list-style: none;
	margin-left: 0;
}

#footer ul.sidebar_widget li ul li ul.children
{
	margin-left: 10px;
	margin-bottom: 0;
}

#footer ul.sidebar_widget li ul li ul.children li:last-child
{
	border: 0;
	margin-bottom: 0;
}

#footer .sidebar_widget.four > li
{
	width: 20%;
	float: left;
	margin-right: 5%;
}

#footer .sidebar_widget.four > li:nth-child(4)
{
	margin-right: 0;
	width: 25%;
}

#footer .sidebar_widget.three > li
{
	width: 31%;
	float: left;
	margin-right: 2%;
}

#footer .sidebar_widget.three > li:nth-child(3)
{
	margin-right: 0;
	width: 33%;
}

#footer .sidebar_widget.two > li
{
	width: 48%;
	float: left;
	margin-right: 2%;
}

#footer .sidebar_widget.two > li:nth-child(2)
{
	margin-right: 0;
	width: 50%;
}

#footer .sidebar_widget.one > li
{
	width: 100%;
	clear: both;
	float: left;
	margin-bottom: 30px;
}

#footer ul.sidebar_widget li ul.posts.blog li img
{
	width: 52px;
	float: left;
	margin: 0 15px 15px 0;
}

#footer ul.sidebar_widget li ul.posts.blog li
{
	clear: both !important;
	float: left;
	border: 0;
}

#footer ul.sidebar_widget li ul li
{
	margin: 0 0 10px 0;
}

#footer ul.sidebar_widget li ul li ul.sub-menu
{
	margin-left: 15px;
}

#footer ul.sidebar_widget li ul.flickr li
{
	margin: 0 2% 0 0;
	border-bottom: 0;
	width: 31%
}

#footer ul.sidebar_widget li ul.flickr li img
{
	width: 100%;
	height: auto;
}

#copyright
{
	float: left;
	width: 50%;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: 0;
	text-align: left;
}

#copyright p.attachment
{
	display: none;
}

.footer_bar_wrapper
{
	width: 960px;
	margin: auto;
	font-size: 13px;
	font-weight: 600;
	-webkit-transition: -webkit-transform 500ms ease;
	transition: -webkit-transform 500ms ease;
	-webkit-font-smoothing: antialiased;
	clear: both;
	color: #fff;
	border-top: 1px solid #444;
	margin-top: 40px;
	padding-top: 20px;
}

#toTop 
{
	width:25px;
    background: #eee;
    opacity: 0;
    text-align:center;
    padding:10px 10px 10px 10px;
    position:fixed; /* this is the magic */
    bottom: 8px; /* together with this to put the div at the bottom*/
    right:8px;
    cursor:pointer;
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
	z-index: 9;
	display: block;
}

#toTop:hover
{
	opacity: 1 !important;
}

#toTop i
{
	color: #000;
	font-size: 1.5em;
}

/*------------------------------------------------------------------
[4. Content]
*/

#content_wrapper
{
	width: 72%;
	float: left;
	margin: 0;
}

#page_content_wrapper, .page_content_wrapper
{
	width: 960px;
	margin: auto;
	padding-bottom: 0;
}

#page_content_wrapper.wide, .page_content_wrapper.wide
{
	width: 100%;
}

.page_content_wrapper
{
	width: 100%;
}

#page_content_wrapper img, .page_content_wrapper img
{
	max-width: 100%;
	height: auto;
}

.standard_wrapper
{
	width: 960px;
	margin: auto;
}

.one_half .standard_wrapper, .one_third .standard_wrapper, .one_fourth .standard_wrapper, .one_fifth .standard_wrapper, .two_third .standard_wrapper, .one_half .page_content_wrapper, .one_third .page_content_wrapper, .one_fourth .page_content_wrapper, .one_fifth .page_content_wrapper, .two_third .page_content_wrapper
{
    max-width: 100%;
    width: 100%;
    padding: 0;
}

.page_content_wrapper:empty
{
	margin-top: 0 !important;
}

.page_content_wrapper.fullwidth, #page_content_wrapper.fullwidth
{
	width: 100%;
	padding: 0;
}

#content_wrapper .inner
{
	overflow: hidden;
}

#page_content_wrapper .inner
{
	width: 100%;
	margin: auto;
	margin-top: 40px;
}

#page_content_wrapper .inner.two_cols, #page_content_wrapper .inner.three_cols
{
	margin-top: 30px;
}

#page_content_wrapper .inner .inner_wrapper
{
	padding-top: 0;
}

.post.type-post
{
	width: 100%;
	margin-bottom: 35px;
	float: left;
	position: relative;
}

body.search-results .hentry
{
	float: left;
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 30px;
}

#page_content_wrapper .inner .sidebar_content .post.type-post.last_post
{
	margin-bottom: 20px;
}

#page_content_wrapper .inner #blog_grid_wrapper.sidebar_content
{
	margin-right: 0;
	padding-right: 0;
	width: 690px;
	box-sizing: border-box;
	margin-bottom: 40px;
}

#page_content_wrapper .inner #blog_grid_wrapper.sidebar_content.left_sidebar
{
	padding-left: 20px;
	padding-right: 0;
}

#blog_grid_wrapper.sidebar_content:not(.full_width) .post.type-post
{
	width: 46%;
}

#page_content_wrapper .inner .sidebar_content.blog_f .post.type-post
{
	border-bottom: 0;
	margin-bottom: 30px;
}

#page_content_wrapper .inner .sidebar_content.two_cols .post.type-post
{
	float: left;
	width: 48%;
	margin-right: 3.5%;
	margin-bottom: 0;
	box-sizing: border-box;	
}

#page_content_wrapper .inner .sidebar_content.two_cols.mixed .post.type-post:first-child
{
	float: none;
	width: 100%;
	margin: 0;
}

#page_content_wrapper .inner .sidebar_content.two_cols .post.type-post[data-column=last]
{
	float: right;
	width: 48%;
	margin-right: 0;
	clear: right;
}

#page_content_wrapper .inner .sidebar_content.three_cols .post.type-post, #page_content_wrapper .inner .sidebar_content.three_cols .hentry
{
	float: left;
	width: 30.99%;
	margin-right: 3.5%;
	margin-bottom: 0;
	box-sizing: border-box;	
}

#page_content_wrapper .inner .sidebar_content.three_cols .post.type-post[data-column=last], #page_content_wrapper .inner .sidebar_content.three_cols .hentry[data-column=last]
{
	float: right;
	margin-right: 0;
	clear: right;
}

body.single .post.type-post
{
	border: 0;
	margin-bottom: 0;
}

.post.type-post.last-child
{
	border: 0;
	margin: 0;
	padding: 0;
}

.post.type-post:last-child
{
	margin-bottom: 0;
}

.post_wrapper
{
	padding: 20px 0 25px 0;
}

.post_wrapper.grid_layout
{
	padding: 0;
}

.blog_grid_content
{
	width: 100%;
	clear: both;
	box-sizing: border-box;
	float: left;
}

body.single .post_wrapper
{
	padding-bottom: 0;
}

.post_wrapper:first-child
{
	padding: 0;
	border: 0;
}

.post_wrapper.single
{
	width: 100%;
	margin: 0;
}

.post_header
{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	text-align: center;
}

.post_header.single
{
	text-align: left;
}

.post_header p 
{
	text-align: left;
}

.post_header.search
{
	width: 100%;
	margin-bottom: 0;
	margin-left: 10px;
	text-align: left;
}

body.search-results .post_header.search
{
	width: calc(100% - 70px);
}

.readmore
{
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin: auto;
	letter-spacing: 2px;
	color: #be9656;
}

.post_header.grid
{
	margin-bottom: 15px;
	width: 100%;
	float: none;
}

.post_header.full
{
	width: 100%;
}

body.page-template-blog_f-php .post_excerpt_full
{
	margin-bottom: 0;
}

.post_header.grid h6
{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.post_header h3 a, .post_header.grid h6 a
{
	color: #222222;
}

.post_header:not(.single) h5, body.single-post .post_header_title h1
{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post_header h6, .two_cols .post_header h5, .post_header.search h5
{
	font-size: 20px;
}

.two_cols.mixed .post_header h5
{
	font-size: 17px;
}

.two_cols.mixed .hentry:first-child .post_header h5
{
	font-size: 20px;
}

.post_header h6, .three_cols .post_header h5
{
	font-size: 16px;
}

.post_header h5 a, .post_header h6 a
{
	color: #222222;
}

.post_excerpt
{
	width: 70%;
	margin: auto;
}

.post_excerpt br:first:child
{
	display: none;
}

.post_related strong
{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post_related strong a
{
	color: #222;
}

.post_related .post_header
{
	text-align: left;
}

.animate 
{
	opacity: 0;
}

.animate.visible 
{
	animation-name: slideUp2;
	-webkit-animation-name: slideUp2;
	animation-duration: 0.6s;
	-webkit-animation-duration: 0.6s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.post_excerpt.post_tag
{
	width: auto;
	float: left;
	margin: initial;
	text-align: left;
	margin-top: 10px;
}

.post_excerpt.post_tag a
{
	display: inline-block;
	margin: 0 3px 5px 0;
    padding: 6px 9px 6px 9px;
	background: #f5f5f5;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #222;
}

.post_share_text
{
	float: right;
	margin-top: 10px;
	cursor: pointer;
	padding: 6px 9px 6px 9px;
	background: #f5f5f5;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.post_share_text i
{
	margin-right: 5px;
}

#about_the_author
{
	margin: 0 0 40px 0;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0 20px 0;
	box-sizing: border-box;
}

#about_the_author .gravatar
{
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}

.author_label
{
	float: left;
}

.author_content strong
{
	font-size: 20px;
}

.post_content_wrapper
{
	padding: 0;
	margin: 0;
}

.post_content_wrapper.fullwidth
{
	width: 100%;
}

.post_header .post_detail, .recent_post_detail, .post_detail, .page_tagline
{
	width: 100%;
	padding: 0;
	float: left;
	margin: 5px 0 0 0;
	font-size: 13px;
}

.post_header .post_detail.post_date
{
	width: 30%;
	float: none;
	margin: auto;
	margin-bottom: 10px;
}

.sidebar_content.full_width .post_header .post_detail.post_date
{
	width: 20%;
}

#page_content_wrapper .inner .sidebar_content.full_width.blog_f .post_header .post_detail.post_date
{
	width: 20%;
}

.post_header.search .post_detail.post_date
{
	width: 100%;
}

.two_cols .post_header .post_detail.post_date
{
	width: 30%;
}

.two_cols.mixed .post_header .post_detail.post_date
{
	width: 45%;
}

.two_cols.mixed .hentry:first-child .post_header .post_detail.post_date
{
	width: 25%;
}

.sidebar_content.full_width.three_cols .post_header .post_detail.post_date
{
	width: 50%;
}

.post_info_date
{
	font-family: 'Lustria', 'Georgia', Arial,Verdana,sans-serif;
	font-style: italic;
	color: #be9656;
	position: relative;
	display: block;
}

.post_info_date:before
{
	content: "";
	border-bottom: 1px solid #be9656;
	width: 100%;
	position: absolute;
  	left: 0;
  	top: 50%;
  	z-index: 0;
}

.post_info_date.search:before
{
	display: none;
}

.post_info_date span
{
	display: inline-block;
	padding: 0 1.2em;
	background: #ffffff;
	position: relative;
	z-index: 2;
}

.sticky .post_info_date span
{
	background: #ffffe0 !important;
}

.search_form_wrapper
{
	margin-bottom: 30px;
	border: 1px solid #e1e1e1;
	padding: 30px;
}

.search_form_wrapper .content
{
	font-size: 16px;
	text-align: center;
	width: 60%;
	margin: auto;
	margin-bottom: 40px;
}

.post_header .post_detail.grid
{
	margin-top: 5px;
}

.post_header .post_detail.full
{
	width: 100%;
	margin-top: 7px;
	margin-bottom: 7px;
}

.post_header .post_detail.grid
{
	margin-bottom: 0;
}

.post_attribute, .comment_date, .post-date
{
	padding: 0;
	margin-top: 0;
	color: #999;
	letter-spacing: 0;
	opacity: 0.8;
	font-size: 12px;
	font-family: 'Lustria', 'Georgia', Arial,Verdana,sans-serif;
	font-style: italic;
}

.post_attribute
{
	margin-top: 5px;
}

.post_info_comment
{
	float: right;
	margin-top: 15px;
	font-family: 'Lustria', 'Georgia', Arial,Verdana,sans-serif;
	font-size: 11px;
	font-style: italic;
	font-weight: 600;
	display: none;
}

.three_cols .post_info_comment, .two_cols .post_info_comment
{
	margin-top: 10px;
}

.post_info_comment a
{
	color: #222;
}

.post_info_cat
{
	position: relative;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 30px;
	text-align: center;
}

.post_info_cat:before
{
	content: "";
	border-bottom: 1px solid #e1e1e1;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 0;
}

.sticky .post_info_cat:before
{
	border-color: #e6db55 !important;
}

.post_info_cat span
{
	display: inline-block;
	padding: 0 1.2em;
	background: #ffffff;
	position: relative;
	z-index: 2;
}

.sticky .post_info_cat span
{
	background: #ffffe0 !important;
}

.post_info_cat a
{
	color: #222;
}

.post_type_icon
{
	float: left;
	margin-right: 0;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	width: 30px;
	height: 30px;
	padding: 5px;
	display: block;
	text-align: center;
	background: #222;
}

body.search-results .post_type_icon
{
	margin-right: 15px;
}

.post_type_icon i
{
	font-size: 16px;
	line-height: 16px;
	display: block;
	position: relative;
	top: 50%;
	line-height: 30px;
}

.post_type_icon a
{
	color: #fff !important;
	display: block;
}

.search_thumb
{
	float: left;
	border-radius: 200px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	position: relative;
	margin-top: 5px;
}

.search_thumb img
{
	width: 40px;
	height: 40px;
}

.post_detail_wrapper
{
	float: left;
	width: 96%;
	margin: 0 0 10px 0;
}

.gravatar 
{
	position: relative;
	z-index: 2;
	overflow: hidden;
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 200px;
}

.comment .gravatar
{
	width: 60px;
	height: 60px;
}

.gravatar img
{
	max-width: 100% !important;
}

#about_the_author .header span
{
	display: block;
	padding: 10px 0 10px 20px;
	font-size: 14px;
}

#about_the_author .thumb
{
	width: 80px;
	float: left;
	margin: 20px 0 0 20px;
}

#about_the_author .thumb img
{
	padding: 3px;
	width: 50px;
}

#about_the_author .description
{
	width: 550px;
	float: left;
	padding: 0 0 0 20px;	
}

.comment .left img.avatar
{
	width: 50px;
	height: 50px;
}

.comment
{
	width: 770px;
	padding-bottom: 0;
	float: left;
}

.fullwidth_comment_wrapper .comment
{
	width: 100%;
}

.comment .left
{
	float: left;
	margin-right: 15px;
}

.comment .right
{
	width: 74%;
	float: left;
	margin-left: 25px;
	padding: 0 15px 30px 0;
}

.comment .right h7
{
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 600;
	line-height: 28px;
	margin-right: 10px;
}

.fullwidth_comment_wrapper .comment .right
{
	width: 88%;
}

.fullwidth_comment_wrapper.sidebar .comment .right
{
	width: 74%;
}

ul.children div.comment .right
{
	width: 77%;
}

.fullwidth_comment_wrapper ul.children div.comment .right
{
	width: 84%;
}

.comment .right p
{
	margin: 0;
	padding: 0;
}

.comment .right strong
{
	font-weight: #fff;
}

#content_wrapper ul.children
{
	list-style: none;
	margin: -40px 0 0px 74px;
	border-left: 1px solid #ccc;
	padding: 5px 20px 2px 0;
	float: left;
	width: 106%;
}

#content_wrapper ul.children ul.children
{
	margin-top: -10px;
	padding-bottom: 0;
	width: 83.5%;
}

.comment_wrapper
{
	float: left;
	margin-left: 25px;
	border-left: 1px solid #eeeeee;
}

.comment_date
{
	margin: 0;
	line-height: 30px;
	float: left;
	margin-left: 0;
}

ul.children .comment
{
	width: 100%;
	margin: 0;
	padding: 20px 0 10px 0;
	margin-top: 20px;
	margin-left: 45px;
	float: left;
}

ul.children .comment:last-child
{
	padding-top: 0;
	padding-bottom: 15px;
}

ul.children .comment:first-child
{
	padding-top: 10px;
	margin-top: 0px;
}

.social_wrapper
{
	width: 100%;
	margin: 20px 0 5px 0;
	text-align: center;
}

#logo_wrapper .social_wrapper
{
	width: auto;
	margin: 0;
	left: 30px;
	text-align: left;
	position: absolute;
}

.footer_bar_wrapper .social_wrapper
{
	width: 50%;
	float: right;
	text-align: right;
	margin: 0;
}

.above_top_bar .social_wrapper
{
	margin: 0;
	float: right;
	width: auto;
}

.social_wrapper.shortcode, .social_wrapper.shortcode ul
{
	margin: 0;
	text-align: left;
}

.social_wrapper ul
{
	list-style: none;
	margin-left: 0 !important;
	text-align: left;
}

.above_top_bar .social_wrapper ul
{
	text-align: right;
}

.footer_bar_wrapper .social_wrapper ul
{
	text-align: right;
}

#page_content_wrapper .social_wrapper ul
{
	list-style: none;
	margin-top: 12px;
}

#page_content_wrapper .social_wrapper.shortcode ul
{
	margin-top: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li .social_wrapper.shortcode ul
{
	padding: 0;
	margin: 0;
	text-align: center;
}

.social_wrapper ul li, .social_wrapper.small ul li
{
	display: inline-block;
	margin-right: 15px;
}

#logo_wrapper .social_wrapper ul li
{
	margin-right: 10px;
}

.social_wrapper.shortcode ul li, .social_wrapper.small.shortcode ul li
{
	margin: 0 10px 10px 10px !important;
}

.footer_bar_wrapper .social_wrapper ul li
{
	background: transparent !important;
	border: 0 !important;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	float: right;
}

.social_wrapper.light ul li
{
	border: 0 !important;
}

.social_wrapper.large ul li
{
	width: 50px;
	height: 50px;
}

.above_top_bar .social_wrapper ul li
{
	background: transparent;
	border: 0;
	width: auto;
	height: auto;
	margin-right: 0px;
}

.social_wrapper.shortcode ul li
{
	margin: 0 2px 4px 2px;
	clear: none !important;
	float: none !important;
	width: auto !important;
	display: inline-block !important;
}

.sidebar_content ul li .social_wrapper.shortcode, .sidebar_content ul li .social_wrapper.shortcode ul
{
	text-align: center !important;
}

.social_wrapper ul li a
{
	opacity: 1;
	display: block;
	line-height: 0;
	color: #222;
}

.social_wrapper.shortcode ul li a
{
	color: #fff;
}

.social_wrapper.shortcode.light ul li a
{
	color: #444;
}

.mobile_menu_wrapper .sidebar_wrapper h2.widgettitle:before
{
	border: 0;
}

.mobile_menu_wrapper .sidebar_wrapper h2.widgettitle span
{
	background: transparent;
	padding-left: 0;
	padding-right: 0;
}

.mobile_menu_wrapper .social_wrapper ul li a
{
	opacity: 0.5;
}

.mobile_menu_wrapper .social_wrapper ul li a:hover, .mobile_menu_wrapper .social_wrapper ul li a:active
{
	opacity: 1;
}

.above_top_bar .social_wrapper ul li:last-child a
{
	margin-right: 0;
}

.above_top_bar .social_wrapper ul li a
{
	display: inline-block;
	color: #fff;
	padding: 0;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 30px;
}

.above_top_bar .page_content_wrapper
{
	margin: auto;
}

.footer_bar_wrapper .social_wrapper ul li a
{
	color: #fff;
	opacity: .4;
}

.footer_bar_wrapper .social_wrapper ul li a:hover, .footer_bar_wrapper .social_wrapper ul li a:active
{
	opacity: 1;
}

.social_wrapper ul li a i, .social_wrapper.small ul li a i
{
	line-height: 18px;
	font-size: 18px;
}

.above_top_bar .social_wrapper ul li a i
{
	font-size: 14px;
	line-height: 18px;
}

.footer_bar_wrapper .social_wrapper ul li a i
{
	line-height: 20px;
	font-size: 18px;
}

.social_wrapper.large ul li a i
{
	line-height: 32px;
	font-size: 24px;
}

.above_top_bar .social_wrapper ul li:hover
{
	background: transparent !important;
	opacity: 1;
}

.social_wrapper ul li a img
{
	opacity: .4;
}

.social_wrapper.shortcode ul li a img, .social_wrapper ul li:hover a img 
{
	opacity: 1;
}

#page_caption
{
	padding: 25px 0 30px 0;
	width: 100%;
	background: #ffffff;
	margin-bottom: 10px;
	margin-top: 0;
}

#page_caption.hasbg
{
	height: 500px;
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	border: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 0;
	z-index: 2;
	margin-top: 0;
}

#page_caption.hasbg #bg_regular, #page_caption.hasbg #bg_blurred
{
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#page_caption.hasbg:after 
{
	  content: "";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(50%,transparent),color-stop(60%,rgba(0,0,0,0.1)),color-stop(93%,rgba(0,0,0,0.4)),to(rgba(0,0,0,0.59)));
	  background-image: -webkit-linear-gradient(transparent 0%,transparent 50%,rgba(0,0,0,0.1) 60%,rgba(0,0,0,0.4) 93%,rgba(0,0,0,0.59) 100%);
	  background-image: linear-gradient(transparent 0%,transparent 50%,rgba(0,0,0,0.1) 60%,rgba(0,0,0,0.4) 93%,rgba(0,0,0,0.59) 100%);
  z-index: 2;
}

body.single-post #page_caption.hasbg:after
{
	display: none;
}

#page_caption.hasbg #bg_regular
{
	opacity: 1;
}

#page_caption.hasbg #bg_blurred
{
	opacity: 0;
}

#page_caption.nomargin
{
	margin-bottom: 0;
}

#page_caption .page_title_wrapper
{
	width: 100%;
	margin: auto;
	text-align: center;
}

#page_caption.hasbg .page_title_wrapper
{
	z-index: 3;
	position: absolute;
	bottom: 30px;
	width: 100%;
}

#page_caption.hasbg h1, h1.hasbg
{
	color: #fff;
	float: none;
	margin: auto;
}

#page_caption.hasbg .page_title_wrapper .page_title_inner
{
	vertical-align: middle;
	width: 100%;
}

#page_caption.hasbg h1.withtopbar, h1.hasbg.withtopbar, #page_caption.hasbg.notransparent h1.withtopbar
{
	margin-top: 160px;
}

.page_tagline
{
	width: auto;
	display: inline-block;
	margin: auto;
	margin-top: 5px;
	padding-top: 20px;
	border-top: 1px solid #e1e1e1;
	float: none;
}

#page_caption.hasbg .page_tagline
{
	color: #fff;
	border: 0;
	margin-top: 0;
	padding-top: 0;
}

/*------------------------------------------------------------------
[5. Social Sharing]
*/

.post.type-post .post_share
{
	color: #444;
	display: none;
}

.post.type-post:hover .post_share, .post.type-post .post_share.visible
{
	display: block;
}

.post_img
{
	position: relative;
	height: auto;
	text-align: center;
	overflow: hidden;
	float: left;
	line-height: 0;
	width: 100%;
	margin: 20px 0 20px 0;
}

.post_related
{
	margin-top: 30px;
	margin-bottom: 10px;
	float: left;
}

.post_related .post_img
{
	margin-top: 0;
}

.post_img.one_third
{
	margin-top: 0;
}

.post_ft_img
{
	opacity: 0;
}

.post_img img
{
	width: 100% !important;
	height: auto !important;
}

body.single .post_img img
{
	width: auto;
}

#social_share_wrapper, .social_share_wrapper
{
	margin-left: 0 !important;
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	clear: both;
}

#social_share_wrapper a i, .social_share_wrapper.shortcode a i
{
	font-size: 20px;
}

#social_share_wrapper a, .social_share_wrapper.shortcode a
{
	opacity: 0.3;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#social_share_wrapper a:hover, .social_share_wrapper.shortcode a:hover
{
	opacity: 1;
}

.social_share_wrapper.shortcode
{
	margin: 0;
}

#social_share_wrapper h5,  .social_share_wrapper.shortcode h5
{
	display: inline-block;
	margin-bottom: 5px;
}

#social_share_wrapper ul, .social_share_wrapper.shortcode ul, .social_share_bubble ul
{
	display: block;
	clear: both;
	list-style: none;
	margin: 0;
	margin-left: 0 !important;
}

#social_share_wrapper ul li, .social_share_wrapper.shortcode ul li, .social_share_bubble ul li
{
	display: block;
	margin: 0 0 5px 0;
}

.social_share_wrapper.shortcode ul li
{
	display: inline-block;
	margin: 0 10px 0 10px;
	border-left: 0 !important;
}

.social_share_bubble ul li
{	
	display: inline-block;
	margin: 0 7px 0 7px;
	font-size: 14px;
}

#social_share_wrapper.inline, , .social_share_bubble.inline
{
	text-align: center;
	border:0;
	margin-top: 30px;
}

#fullscreen_share_wrapper
{
	display: table;
	width: 100%;
	height: 100%;
	z-index: 9;
	color: #fff;
  	position: relative;
  	visibility: hidden;
}

.fullscreen_share_content
{
	display: table-cell;
	vertical-align: middle;
	position: relative;
	text-align: center;
}

.fullscreen_share_content #social_share_wrapper ul li
{
	display: inline-block;
	margin: 0 20px 0 20px;
}

.fullscreen_share_content #social_share_wrapper ul li a
{
	color: #fff;
	opacity: 1;
	display: block;
}

.fullscreen_share_content #social_share_wrapper ul li a i
{
	font-size: 4em;
}

/*------------------------------------------------------------------
[6. Sidebar]
*/

#page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content
{
	width: 690px;
	padding: 0;
	float: left;
	padding-right: 0px;
	padding-top: 0;
	margin-right: 10px;
}

#page_content_wrapper .inner #portfolio_filter_wrapper.sidebar_content
{
	width: 100%;
	padding-right: 0;
	margin-right: 0;
	border: 0;
}

#page_content_wrapper .inner .sidebar_content.left_sidebar, .page_content_wrapper .inner .sidebar_content.left_sidebar
{
	border-right: 0;
	float: right;
}

#page_content_wrapper .inner .sidebar_content.full_width, .page_content_wrapper .inner .sidebar_content.full_width
{
	width: 100%;
	margin-top: 0;
	margin-right: 0;
	border: 0;
}

#page_content_wrapper .inner .sidebar_content.full_width.blog_f
{
	box-sizing: border-box;
	width: 100%;
}

body.single-portfolios #page_content_wrapper .inner .sidebar_content.full_width
{
	margin-top: 40px;
}

#page_content_wrapper.horizontal, .page_content_wrapper.horizontal
{
	padding: 0;
	width: 100%;
	max-width: 100% !important;
}

#page_content_wrapper img:not(.horizontal_gallery_img), .page_content_wrapper img:not(.horizontal_gallery_img)
{
	max-width: 100%;
}

.slider_wrapper.tg_gallery
{
	margin: 20px 0 20px 0;
}

#horizontal_gallery, .horizontal_gallery
{
	opacity: 0;
	overflow-x: scroll;
	clear: both;
	margin-top: 0;
	margin-bottom: 0;
}

#horizontal_gallery.tg_post.visible
{
	margin-top: 0;
}

#horizontal_gallery table, .horizontal_gallery table
{
	margin: 0;
}

#horizontal_gallery.tg_post, #horizontal_gallery.tg_post table, .horizontal_gallery.tg_post, .horizontal_gallery.tg_post table
{
	margin: 0;
}

#horizontal_gallery.visible, .horizontal_gallery.visible
{
	opacity: 1;
}

#horizontal_gallery_wrapper tbody tr td, .horizontal_gallery_wrapper tbody tr td
{
	display:table-cell;
	vertical-align: middle;
	min-width: 200px;
	padding: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 0 !important;
}

#horizontal_gallery_wrapper tbody tr td:last-child, .horizontal_gallery_wrapper tbody tr td:last-child
{
	padding-right: 0;
}

#horizontal_gallery_wrapper tbody tr td:first-child, .horizontal_gallery_wrapper tbody tr td:first-child
{
	padding-left: 0;
}

#horizontal_gallery_wrapper tbody tr td.horizontal_gallery_info, .horizontal_gallery_wrapper tbody tr td.horizontal_gallery_info
{
	padding: 40px;
}

#horizontal_gallery_wrapper tbody tr td a, .horizontal_gallery_wrapper tbody tr td a
{
	outline: none;
}

#horizontal_gallery_wrapper tbody tr td .wp-caption, .horizontal_gallery_wrapper tbody tr td .wp-caption
{
	min-height: 33px;
	font-weight: normal;
}

#horizontal_gallery_wrapper tbody tr td.horizontal_gallery_info div, .horizontal_gallery_wrapper tbody tr td.horizontal_gallery_info div
{
	width: 250px;
	text-align: left;
}

#horizontal_gallery_wrapper img.horizontal_gallery_img, .horizontal_gallery_wrapper img.horizontal_gallery_img
{
	max-width: none;
	height: auto;
}

#horizontal_gallery_wrapper .gallery_image_wrapper, .horizontal_gallery_wrapper .gallery_image_wrapper
{
	text-align: center;
	display: none;
}

#horizontal_gallery_wrapper .gallery_image_wrapper.visible, .horizontal_gallery_wrapper .gallery_image_wrapper.visible
{
	display: block;
}

#page_content_wrapper.hasbg.nomargintop
{
	margin-top: 0 !important;
}

#page_content_wrapper .inner .sidebar_content.full_width.nopadding, .page_content_wrapper .inner .sidebar_content.full_width.nopadding
{
	padding: 0 !important;
}

#page_content_wrapper .inner .sidebar_content img, .page_content_wrapper .inner .sidebar_content img
{
	max-width: 100%;
	height: auto !important;
}

#page_content_wrapper .inner .sidebar_content div.wp-caption, .page_content_wrapper .inner .sidebar_content div.wp-caption
{
	max-width: 100%;
}

#page_content_wrapper .inner .sidebar_wrapper, .page_content_wrapper .inner .sidebar_wrapper
{
	width: 220px;
	float: right;
	margin-top: 0;
	margin-left: 0;
	padding-top: 0;
}

#page_content_wrapper .inner .sidebar_wrapper.left_sidebar
{
	width: 230px;
	margin-right: 0;
	margin-left: 0;
	float: left;
}

#page_content_wrapper .inner .sidebar_wrapper a, .page_content_wrapper .inner .sidebar_wrapper a
{
	color: #222;
}

#page_content_wrapper .inner .sidebar_wrapper .sidebar, .page_content_wrapper .inner .sidebar_wrapper .sidebar
{
	width: 100%;
	float: left;
	margin-bottom: 40px;
}

#page_content_wrapper .inner .sidebar_wrapper .sidebar .content, .page_content_wrapper .inner .sidebar_wrapper .sidebar .content
{
	width: 100%;
	margin: 0 0 0 0;
}

.mobile_menu_wrapper .sidebar_wrapper h2.widgettitle
{
	color: #fff;
}

.mobile_menu_wrapper .sidebar_wrapper a
{
	color: #777;
}

.mobile_menu_wrapper .page_content_wrapper
{
	width: 100%;
}

.mobile_menu_wrapper .sidebar_wrapper
{
	width: 100%;
	margin-top: 40px;
}

.mobile_menu_wrapper .sidebar_wrapper .sidebar .content .sidebar_widget li
{
	margin-bottom: 0;
}

.mobile_menu_wrapper .sidebar_wrapper .sidebar .content .sidebar_widget li .social_wrapper ul
{
	text-align: center;
}

/*------------------------------------------------------------------
[7. Form & Input]
*/

input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input.wpcf7-text
{
	padding: 7px 10px 7px 10px;
	font-size: 100%;
	font-family: Lato, 'Helvetica Neue', Arial,Verdana,sans-serif;
	margin: 0;
	background: #fcfcfc;
	border: 1px solid #e1e1e1;
	outline: none;
	-webkit-transition: border-color linear .3s;
	-moz-transition: border-color linear .3s;
	-o-transition: border-color linear .3s;
	transition: border-color linear .3s;
	box-sizing: border-box;
	-webkit-appearance: none;
    border-radius: 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input.wpcf7-text:focus
{
	background: #f9f9f9;
	outline: 0;
}

.contact_form_wrapper input[type=text], .contact_form_wrapper input[type=email], .contact_form_wrapper input[type=date]
{
	width: 46%;
	display: inline;
	box-sizing: border-box;
	margin-right: 3%;
	margin-bottom: 3%;
}

.contact_form_wrapper input[type=submit]
{
	float: right;
	margin-right: 4%;
}

.contact_form_response ul
{
	margin-left: 20px;
	margin-bottom: 20px;
}

.contact_form_wrapper
{
	margin-top: 30px;
}

input[type=text].blur, textarea.blur
{
	color: #999;
}

#contact_form input[type="text"], #contact_form textarea
{
	margin-bottom: 15px;
	width: 97%;
}

div.wpcf7-response-output
{
	padding: 20px;
}

.wpcf7-form input.wpcf7-text, .wpcf7-form textarea, .wpcf7-form input.wpcf7-date
{
	width: 100%;
	box-sizing: border-box;
}

.fullwidth_comment_wrapper #commentform textarea 
{
	width: 100%;
}

.fullwidth_comment_wrapper .post_content_wrapper
{
	background: transparent !important;
	padding: 30px 0 30px 0 !important;
	width: 100% !important;
}

label
{
	clear: both;
	float: none;
	width: 100%;
	margin-left: 0;
	margin-bottom: 10px;
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

.form-allowed-tags
{
	display: none !important;
}

p.comment-notes
{
	margin-bottom: 20px;
}

textarea
{
	font-size: 100%;
	border: 1px solid #e1e1e1;
	background: #fcfcfc;
	margin: 0;
	height: 200px;
	overflow: auto;
	padding: 7px 10px 7px 10px;
	font-family: Lato, 'Helvetica Neue', Arial,Verdana,sans-serif;
	outline: none;
	-webkit-transition: border-color linear .2s;
	-moz-transition: border-color linear .2s;
	-o-transition: border-color linear .2s;
	transition: border-color linear .2s;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, textarea:focus
{
	background: #f9f9f9;
}

input[type=submit], input[type=button], a.button, .button
{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 1.5em .5em 1.5em;
	color: #fff;
	background: #efc337;
	border: 2px solid #efc337;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	font-family: 'Lato', 'Georgia', Arial,Verdana,sans-serif;
	text-shadow: none;
	-webkit-appearance: none;
	letter-spacing: 1px;
	box-shadow: 0 0 0 0 !important;
	line-height: 1.5 !important;
	letter-spacing: 2px;
	
	-webkit-transition: color .2s linear, background .1s linear, opacity .2s linear;
	-moz-transition: color .2s linear, background .1s linear, opacity .2s linear;
	-ms-transition: color .2s linear, background .1s linear, opacity .2s linear;
	-o-transition: color .2s linear, background .1s linear, opacity .2s linear;
	transition: color .2s linear, background .1s linear, opacity .2s linear;
}

.post_button_wrapper
{
	margin-top: 10px;
	float: left;
}

.three_cols .post_button_wrapper, .two_cols .post_button_wrapper
{
	margin-top: 5px;
}

input[type=submit].white, input[type=button].white, a.button.white, .button.white, a.button.white:hover, .button.white:hover, a.button.white:active, .button.white:active
{
	color: #fff;
	background: transparent;
	border-color: #fff;
}

input[type=submit].whitebg, input[type=button].whitebg, a.button.whitebg, .button.whitebg, a.button.whitebg:hover, .button.whitebg:hover, a.button.whitebg:active, .button.whitebg:active
{
	background: #fff;
	color: #000;
	border-color: #fff;
}

input[type=submit].black, input[type=button].black, a.button.black, .button.black, a.button.black:hover, .button.black:hover, a.button.black:active, .button.black:active
{
	color: #000;
	border-color: #000;
}

input[type=button]:hover, input[type=submit]:hover, a.button:hover, .button:hover, .button.submit, a.button.white:hover, .button.white:hover, a.button.white:active, .button.white:active
{
	color: #fff;
	border-color: #222;
	background: #222;
}

.error
{
	color: #ff0000;
}

a.comment-reply-link
{
	margin: 0 0 0 10px;
	float:left;
	line-height: 28px;
	font-weight: 600;
	font-size: 11px;
}

input[type=submit].medium, input[type=button].medium, a.button.medium
{
	font-size: 15px;
	padding: 12px 20px 11px 20px;
}

input[type=submit].large, input[type=button].large, a.button.large
{
	font-size: 17px;
	padding: 16px 25px 15px 25px;
}

#cancel-comment-reply-link
{
	display: block;
	margin: 0 20px 0 10px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

input[type=submit].left, input[type=button].left, a.button.left
{
	float: left;
}

input[type=submit].right, input[type=button].right, a.button.right
{
	float: right;
}

input[type=submit].center, input[type=button].center, a.button.center
{
	margin: auto;
}

/*------------------------------------------------------------------
[8. Pagination]
*/

.pagination 
{
	margin: 50px 0 60px 0;
	float: left;
	width: 100%;
}

.pagination:empty
{
	margin: 0;
}

.pagination a.prev_button
{
	float: right;
}

.pagination a.next_button
{
	float: left;
}

.pagination a i
{
	font-size: 13px;
}

.pagination a.next_button i
{
	margin-right: 5px;
}

.pagination a.prev_button i
{
	margin-left: 5px;
}

.pagination a
{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	color: #222;
	display: block;
}

.pagination a:hover
{
	color: #222;
}

#page_content_wrapper ul
{
	margin: 0;
}

#page_content_wrapper ol
{
	margin: 15px 0 15px 40px;
}

/*------------------------------------------------------------------
[9. Widgets]
*/

#page_content_wrapper ul.flickr
{
	margin: 0 0 10px 0;
}

#page_content_wrapper ul.posts.blog
{
	list-style: none;
	margin-left: 0 !important;
	float: left;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

#page_content_wrapper ul.flickr li img
{
	width: 65px;
	height: auto;
}

#page_content_wrapper .sidebar .content .posts.blog li img, #page_content_wrapper .posts.blog li img
{
	float: left;
	margin: 0 10px 2px 0;
 	width: 52px;
}

.post_circle_thumb 
{
	position: relative;
	z-index: 2;
	overflow: hidden;
	float: left;
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 0;
}
.post_circle_thumb.flickr
{
	margin-right: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget, #page_content_wrapper .sidebar .content .posts.blog, .page_content_wrapper .sidebar .content .sidebar_widget, .page_content_wrapper .sidebar .content .posts.blog
{
	list-style: none;
	margin-left: 0;
	margin-top: 0;
	padding: 0;
}

#page_content_wrapper .sidebar .content .posts.blog li, .page_content_wrapper .sidebar .content .posts.blog li
{
	padding: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li, .page_content_wrapper .sidebar .content .sidebar_widget li
{
	margin: 40px 0 0px 0;
	padding: 0;
	float: left;
	clear: both;
	width: 100%;
}

#page_content_wrapper .sidebar .content .sidebar_widget > li
{
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
	clear: both;
	width: 100%;
	float: left;
}

#page_content_wrapper .sidebar .content .sidebar_widget > li.Custom_Ads, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_search
{
	border: 0;
	padding: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget > li.widget_categories ul li, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_archive ul li, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_nav_menu ul li, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_meta ul li, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_pages ul li, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_comments ul li
{
	border-bottom: 1px solid #e1e1e1;
}

#page_content_wrapper .sidebar .content .sidebar_widget > li.widget_categories ul li:last-child, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_archive ul li:last-child, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_nav_menu ul li:last-child, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_meta ul li:last-child, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_pages ul li:last-child, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_comments ul li:last-child
{
	border-bottom: 0;.
}

#page_content_wrapper .sidebar .content .sidebar_widget > li.widget_categories ul li a, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_archive ul li a, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_meta ul li a, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_pages ul li a, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_comments ul li a, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_comments ul li
{
	padding: 0 0 10px 0;
	display: inline-block;
}

#page_content_wrapper .sidebar .content .sidebar_widget > li.Custom_Twitter
{
	color: #fff;
	background: #60caf9;
	border: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget > li.Custom_Twitter h2.widgettitle, #page_content_wrapper .sidebar .content .sidebar_widget > li.Custom_Twitter a, #page_content_wrapper .sidebar .content .sidebar_widget > li.Custom_Twitter a:hover,#page_content_wrapper .sidebar .content .sidebar_widget > li.Custom_Twitter a:active
{
	color: #fff;
}

#page_content_wrapper .sidebar .content .sidebar_widget li select, .textwidget select, .page_content_wrapper .sidebar .content .sidebar_widget li select
{
	margin: 10px 0 10px 0;
	max-width: 100%;
}

#page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle, h2.widgettitle
{
	font-size: 12px;
	display: block;
	text-align: center;
	font-family: 'Lato', 'Georgia', Arial,Verdana,sans-serif;
	color: #222;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2.widgettitle span.content_title
{
	padding: 0;
	border-bottom: 1px solid #222;
}

#page_content_wrapper .sidebar .content .sidebar_widget li:first-child, .page_content_wrapper .sidebar .content .sidebar_widget li:first-child
{
	margin-top: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul, .page_content_wrapper .sidebar .content .sidebar_widget li ul
{
	list-style: none;
	padding: 20px 0 0 0;
	margin: 0 0 15px 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul li ul.children, .page_content_wrapper .sidebar .content .sidebar_widget li ul li ul.children
{
	margin-left: 10px;
	margin-bottom: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul li ul.children li:last-child, .page_content_wrapper .sidebar .content .sidebar_widget li ul li ul.children li:last-child
{
	border: 0;
	margin-bottom: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li.widget_pages ul li ul.children, .page_content_wrapper .sidebar .content .sidebar_widget li.widget_pages ul li ul.children
{
	margin-left: 20px;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul li, #footer .sidebar_widget li ul li, .page_content_wrapper .sidebar .content .sidebar_widget li ul li, #footer .sidebar_widget li ul li
{
	padding: 0;
	margin-top: 0;
	margin-bottom: 5px;
}

#footer .sidebar_widget li.widget_nav_menu ul li, #page_content_wrapper .sidebar .content .sidebar_widget li.widget_pages ul li
{
	border: 0;
}

#footer .sidebar_widget li ul li
{
	border-color: #000000;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul li:first-child, .page_content_wrapper .sidebar .content .sidebar_widget li ul li:first-child, #footer ul.sidebar_widget li ul li:first-child, #footer ul.sidebar_widget li .textwidget
{
	padding-top: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr li:first-child, .page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr li:first-child, #footer ul.sidebar_widget li ul.flickr li:first-child
{
	border: 0;
	padding-top: 0;
}

#page_content_wrapper .inner .sidebar_wrapper ul.sidebar_widget li.widget_nav_menu ul.menu li a, .page_content_wrapper .inner .sidebar_wrapper ul.sidebar_widget li.widget_nav_menu ul.menu li a
{
	width: 100%;
	box-sizing: border-box;
	padding: 5px 10px 5px 0;
	display: block;
}

#page_content_wrapper .inner .sidebar_wrapper ul.sidebar_widget li.widget_nav_menu ul.menu li.current-menu-item a, .page_content_wrapper .inner .sidebar_wrapper ul.sidebar_widget li.widget_nav_menu ul.menu li.current-menu-item a
{
	font-weight: bold;
}

#wp-calendar tr td, #wp-calendar tr th
{
	padding: 5px 0 5px 0;
	text-align: center;
	background: transparent;
}

#wp-calendar tr td#prev, #wp-calendar tr td#next
{
	text-transform: uppercase;
	padding-top: 20px;
}

#wp-calendar tr td.pad, #wp-calendar tr td#prev, #wp-calendar tr td#next
{
	background: transparent !important;
}

#wp-calendar caption
{
	display:none;
}

#wp-calendar
{
	margin: 20px 0 0 0;
	width: 100%;
}

.mobile_menu_wrapper .widget_calendar table tr th, .mobile_menu_wrapper .widget_calendar table tr td
{
	border-color: #555;
}

table
{
	margin: 10px 0 10px 0;
}

table tr td
{
	border-bottom: 1px solid #e1e1e1;
}

table tr th, table tr td
{
	padding: 20px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #e1e1e1;
}

table tr td
{
	font-weight: normal;
}

#footer table tr th, #footer table tr td
{
	border-bottom: 1px solid #000000 !important;
}

#footer .widget_tag_cloud div a
{
	border-color: #000000 !important;
}

#footer_menu
{
	float: right;
	display: block;
	list-style: none;
}

#footer_menu li
{
	float: left;
	margin-left: 20px;
}

#footer_menu li a
{
	font-size: 11px;
	font-weight: normal;
	color: #fff;
}

#footer_menu li a:hover
{
	color: #fff;
}

#footer_menu li ul
{
	display: none;
}

table thead tr th
{
	background: transparent;
}

table#wp-calendar thead tr th
{
	text-align: center;
}

table tfoot tr, table tfoot tr td
{
	background: transparent;
	border-bottom: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr, .page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr
{
	list-style: none;
	margin: 5px 0 30px 0;
	float: left;
	display: block;
	padding: 15px 0 3px 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr li, .page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr li
{
	display: block;
	float: left;
	margin: 0 0 5px 0;
	padding: 0;
	border: 0;
	clear: none;
	width: 33.3%;
	padding-right: 10px;
	box-sizing: border-box;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr li img, .page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr li img
{
	width: 100%;
	height: auto;
}

.mobile_menu_wrapper .sidebar .content .sidebar_widget li ul.flickr li
{
	width: 33.3%;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter, .page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter
{
	margin: 0;
	margin-top: 20px;
	list-style:none;
	padding: 0 0 0 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li, .page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li
{
	padding-bottom: 15px;
	border: 0;
	box-sizing: border-box;
	position: relative;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li:before, .page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li:before
{
	font-size:22px;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: top;
	margin-top: 0;
	font-family: 'FontAwesome';
	content: "\f099";
	margin-right: 20px;
	margin-top: 3px;
	color: #fff;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li .tweet, .page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li .tweet
{
	display: inline-block;
	width: calc(100% - 50px);
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.social_media, .page_content_wrapper .sidebar .content .sidebar_widget li ul.social_media
{
	list-style: none;
	margin: 10px 0 15px 0;
	float: left;
	display: block;
	padding: 0 0 3px 0;
	margin-left: -5px;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.social_media li, .page_content_wrapper .sidebar .content .sidebar_widget li ul.social_media li
{
	display: block;
	float: left;
	margin: 0 5px 0 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr, ul.flickr, .page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr, ul.flickr
{
	list-style: none;
	margin: 10px 0 -10px 0;
	float: left;
	display: block;
	clear: both;
	width: 100%;
	width: calc(100% + 10px);
}

ul.flickr li
{
	float: left;
	margin: 0 5px 0 0;
}

#page_content_wrapper .sidebar .content .posts.blog, .page_content_wrapper .sidebar .content .posts.blog
{
	list-style: none;
	margin-top: 30px;
	margin-bottom: 0;
}

#page_content_wrapper .sidebar .content .posts.blog.withthumb, .page_content_wrapper .sidebar .content .posts.blog.withthumb
{
	margin-top: 20px;
}

#page_content_wrapper .sidebar .content .posts.blog li, .page_content_wrapper .sidebar .content .posts.blog li
{
	line-height: 1em;
	clear: both;
	border:0;
	background: none;
	width: 100%;
	float: left;
	margin: 0;
}

#page_content_wrapper .posts.blog li, .page_content_wrapper .posts.blog li
{
	float: left;
	width: 49.4%;
	margin-right: 1.2%;
	margin-bottom: 1.2%;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
	display: table;
	text-align: left;
	
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

#page_content_wrapper .posts.blog li:nth-child(2n), .page_content_wrapper .posts.blog li:nth-child(2n)
{
	margin-right: 0;
	float: right;
}

#page_content_wrapper .posts.blog li a, .page_content_wrapper .posts.blog li a, #page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_entries ul li a, #footer ul.sidebar_widget .posts.blog li a
{
	width: 100%;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2em;
}

#page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_entries ul li a
{
	display: block;
}

#page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_entries ul li
{
	margin-bottom: 30px;
}

#page_content_wrapper .sidebar .content .sidebar_widget > li.widget_recent_entries ul li:last-child
{
	margin-bottom: 0;
}

#page_content_wrapper .sidebar .content .posts.blog.withthumb li, #page_content_wrapper .posts.blog.withthumb li, .page_content_wrapper .sidebar .content .posts.blog.withthumb li, .page_content_wrapper .posts.blog.withthumb li
{
	line-height: 1.5em;
	border: 0;
	display: block;
}

#page_content_wrapper .sidebar .content .posts.blog li, .page_content_wrapper .sidebar .content .posts.blog li
{
	padding-top: 10px;
}

#page_content_wrapper .sidebar .content .posts.blog li:last-child, .page_content_wrapper .sidebar .content .posts.blog li:last-child
{
	padding-bottom: 0;
}

#page_content_wrapper .sidebar .content .posts.blog li strong.header, #page_content_wrapper .posts.blog li strong.header, .page_content_wrapper .sidebar .content .posts.blog li strong.header, .page_content_wrapper .posts.blog li strong.header
{
	font-weight: normal;
}

#cover_content
{
	position:fixed;top:20%;left:40px;z-index:9;
}

#page_content_wrapper .sidebar .content .textwidget, .page_content_wrapper .sidebar .content .textwidget
{
	margin-top: 0;
	padding: 5px 0 0 0;
}

.textwidget img
{
	max-width: 100%;
	height: auto;
}

.widget_search input#searchsubmit
{
	margin: 10px 0 0 0;
}

.widget_tag_cloud div, .tag_cloud
{
	margin: 20px 0 10px 0;	
}

.widget_tag_cloud div a, .meta-tags a, .tag_cloud a
{
	display: inline-block;
	-webkit-transition: background .2s linear, border .1s linear;
	-moz-transition: background .2s linear, border .1s linear;
	-ms-transition: background .2s linear, border .1s linear;
	-o-transition: background .2s linear, border .1s linear;
	transition: background .2s linear, border .1s linear;
	
	font-size: 9px !important;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 3px 5px 0;
	padding: 6px 9px 6px 9px;
	background: #f5f5f5;
	color: #555;
}

#post_featured_slider
{
	margin-top: -1px;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	transition: all 0.6s ease;
	background-color: #f9f9f9;
}

#post_featured_slider.three_cols
{
	margin-bottom: 60px;
}

#post_featured_slider li .slider_image:after
{
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(50%,transparent),color-stop(76%,rgba(0,0,0,0.1)),color-stop(93%,rgba(0,0,0,0.5)),to(rgba(0,0,0,0.59)));
    background-image: -webkit-linear-gradient(transparent 0%,transparent 50%,rgba(0,0,0,0.1) 76%,rgba(0,0,0,0.5) 93%,rgba(0,0,0,0.59) 100%);
    background-image: linear-gradient(transparent 0%,transparent 50%,rgba(0,0,0,0.1) 76%,rgba(0,0,0,0.5) 93%,rgba(0,0,0,0.59) 100%);
    z-index: 2;
}

#post_featured_slider li .slider_image
{
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

#post_featured_slider li .slider_image.three_cols
{
	width: 33.3%;
	float: left;
	height: 350px;
}

#post_featured_slider li .slider_image .slide_post
{
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 3;
}

#post_featured_slider li .slider_image.three_cols .slide_post
{
	text-align: left;
}

#post_featured_slider li .slider_image .slide_post h2
{
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#post_featured_slider li .slider_image.three_cols .slide_post
{
	padding: 0 20px 0 20px;
	box-sizing: border-box;
}

#post_featured_slider li .slider_image.three_cols .slide_post h2
{
	font-size: 14px;
}

#post_featured_slider li .slider_image .slide_post .slide_post_date
{
	font-family: 'Lustria', 'Georgia', Arial,Verdana,sans-serif;
    font-style: italic;
    font-size: 13px;
}

#post_featured_slider li .slider_image.three_cols .slide_post ,slide_post_date
{
	font-size: 11px;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe
{
	max-width: 100%;
	height: auto;
}

/*------------------------------------------------------------------
[10. Grid Columns Elements]
*/

.one_half
{
	float: left;
	width: 48%;
	margin-right: 3.5%;
	box-sizing: border-box;
}

.one_half.last
{
	float: right;
	width: 48%;
	margin-right: 0;
	clear: right;
}

.portfolio2filter_wrapper
{
	overflow: hidden;
	margin: 0 12px 0 0;
	float: left;
}

.one_half.portfolio2_wrapper
{
	width: 50%;
	margin-bottom: 0px;
}

.two_cols.gallery .element
{
	width: 47.8%;
	margin-right: 2%;
	margin-bottom: 2%;
	box-sizing: border-box;
	
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
	opacity: 1 !important;
}

.two_cols.gallery.wide .element
{
	width: 50%;
	margin: 0 -1px 0 0;
}

.two_cols.gallery.wide .element img
{
	width: 100%;
	height: auto;
}

.two_cols.gallery .element.fade
{
	opacity: 0.2 !important;
}

.one_half.gallery2
{
	width: 100%;
	height: 100%;
	float: left;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.one_half.gallery2.static
{
	overflow: hidden;
}

.one_half.gallery2 a
{
	position: relative;
	display: block;
	line-height: 0;
}

.element.classic2_cols
{
	overflow: hidden;
	position: relative;
    width: 49.8%;
    height: auto;
    margin-right: 1px;
	margin-bottom: 1px;
	float: left;
}

.one_half.gallery2.filterable.portfolio_type
{
	margin: 0;
}

.one_half.gallery2 a
{
	display: block;
}

.one_half.gallery2.classic a
{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.one_half.gallery2.classic a:hover .portfolio_classic_icon_wrapper
{
	opacity: 1;
}

.one_third
{
	width: 30.99%;
	float: left;
	margin-right: 3.5%;
	margin-bottom: 2%;
	position: relative;
	box-sizing: border-box;
}

.one_third.last
{
	margin-right: 0 !important;
	float: right;
	width: 30.99%;
}

.one_third.portfolio3_wrapper
{
	width: 30%;
	margin-bottom: 0;
	margin-right: 25px;
}

#page_content_wrapper .inner .sidebar_content ul, .page_content_wrapper .inner .sidebar_content ul
{
	margin-left: 20px;
}

#page_content_wrapper .inner .sidebar_content.full_width.portfolio3_content_wrapper
{
	width: 1250px;
}

#page_content_wrapper .inner .sidebar_content.full_width.portfolio4_content_wrapper, .page_content_wrapper.portfolio4_content_wrapper
{
	width: 1260px;
}

.page_content_wrapper.portfolio4_content_wrapper
{
	margin-top: 50px;
}

.gallery_a_title
{
	text-align: center;
}

.three_cols.gallery .element
{
	width: 31.2%;
	margin-right: 2%;
	margin-bottom: 2%;
	padding: 0;
	box-sizing: border-box;
	
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
	opacity: 1 !important;
	position: relative;
}

.three_cols.gallery.wide .element
{
	width: 33.33%;
	margin: 0 -1px 0 0;
}

.three_cols.gallery.wide .element img
{
	width: 100%;
	height: auto;
}

.sidebar_content.three_cols.gallery .element
{
	width: 46%;
	margin-right: 3%;
	margin-bottom: 4%;
}

.three_cols.gallery .element.grid
{
	padding: 0;
}

.three_cols.gallery .element.fade
{
	opacity: 0.2 !important;
}

@media only screen and (min-width: 1430px) {
	#page_content_wrapper.fullwidth .three_cols.gallery .element, .page_content_wrapper.fullwidth .three_cols.gallery .element
	{
		width: 22.4%;
		margin-bottom: 2.5%;
	}
}

@media only screen and (min-width: 1720px) {
	#page_content_wrapper.fullwidth .three_cols.gallery .element, .page_content_wrapper.fullwidth .three_cols.gallery .element
	{
		width: 17.8%;
		margin-bottom: 2.5%;
	}
}

@media only screen and (min-width: 2200px) {
	#page_content_wrapper.fullwidth .three_cols.gallery .element, .page_content_wrapper.fullwidth .three_cols.gallery .element
	{
		width: 14.6%;
		margin-bottom: 2.5%;
	}
}

.one_third.gallery3
{
	position: relative;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.one_third.gallery3 a
{
	position: relative;
	display: block;
	line-height: 0;
}

.one_third.gallery3.static
{
	overflow: hidden;
}

.one_third.gallery3 a
{
	display: block;
}

.one_third.gallery3.classic a
{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.element.classic3_cols
{
	float: left;
}

.one_third.gallery3.last
{
	float: right;
	margin-right: 0;
}

.one_third.gallery3 img {
	max-width: 100%;
    display: block;
    position: relative;
}

.one_third.gallery3 .one_third_img
{
	position: absolute;
}

.one_third.filterable.gallery3.portfolio_type
{
	margin: 0;
}

.one_third.gallery3 a[rel=gallery]
{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99999;
	background: #000;
}

.two_third
{
	float: left;
	width: 65.33%;
	margin-right: 3%;
	box-sizing: border-box;
}

.two_third.last
{
	margin-right: 0;
	float: right;
	clear: right;
}

.one_fourth
{
	width: 22%;
	float: left;
	margin-right: 4%;
	margin-bottom: 2%;
	position: relative;
	box-sizing: border-box;
}

.one_fourth.last
{
	width: 22%;
	margin-right: 0;
	float: right;
	clear: right;
}

.four_cols.gallery .element
{
	width: 22.9%;
	margin-bottom: 2%;
	margin-right: 2%;
	padding: 0;
	box-sizing: border-box;
	
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
	opacity: 1 !important;
}

.four_cols.gallery.wide .element
{
	width: 25%;
	margin: 0 -1px 0 0;
}

.four_cols.gallery.wide .element img
{
	width: 100%;
	height: auto;
}

.four_cols.gallery .element.grid
{
	padding: 0;
	background: transparent;
}

.four_cols.gallery .element.fade
{
	opacity: 0.2 !important;
}

.one_fourth.gallery4
{
	position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
}


.one_fourth.gallery4 a
{
	position: relative;
	display: block;
	line-height: 0;
}

.one_fourth.gallery4.static
{
	overflow: hidden;
}

.element.classic4_cols
{
	float: left;
}


.one_fourth.portfolio4
{
    margin:0;
}

.one_fourth.gallery4 .one_fourth_img
{
	position: absolute;
}

.one_fourth.gallery4 a
{
	display: block;
}

.one_fourth.gallery4.classic a
{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.one_fourth.gallery4.classic a:hover .portfolio_classic_icon_wrapper
{
	opacity: 1;
}

.one_fifth
{
	width: 18%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	box-sizing: border-box;
}

.one_fifth.last
{
	margin-right: 0;
}

.five_cols.gallery.wide .element
{
	width: 20%;
	margin: 0 -1px 0 0;
}

.one_fifth.gallery5 
{
  	position: relative;
  	width: 100%;
  	margin: 0;
  	overflow: hidden;
}

.one_fifth.gallery5 a 
{
  	position: relative;
  	display: block;
  	line-height: 0;
}

.five_cols.gallery.wide .element img
{
	width: 100%;
	height: auto;
}

.five_cols.gallery .element.grid
{
	padding: 0;
	background: transparent;
}

.five_cols.gallery .element.fade
{
	opacity: 0.2 !important;
}

.one_sixth
{
	width: 11%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
	box-sizing: border-box;
}

.one_sixth.last
{
	margin-right: 0;
}

.one_half_bg .image_caption
{
	position: absolute;
	bottom: 15px;
	color: #fff;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
          overflow: visible !important;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
          opacity: 1 !important;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.gallery_mansory_wrapper, .gallery_mansory4_wrapper {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 960px;
}

#portfolio_filter_wrapper, .portfolio_filter_wrapper
{
	width: 960px;
	padding-top: 40px;
	height: 0;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
	visibility: hidden;
	opacity: 0;
}

.portfolio_filter_wrapper
{
	opacity: 1;
}

.portfolio_filter_wrapper, body.tax-portfoliosets #portfolio_filter_wrapper, #portfolio_filter_wrapper
{
	padding-top: 0;
}

#portfolio_filter_wrapper.visible, .portfolio_filter_wrapper.visible
{
	visibility: visible;
	opacity: 1;
}

#portfolio_filter_wrapper.gallery, .portfolio_filter_wrapper.gallery
{
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

#portfolio_filter_wrapper.gallery.two_cols, .portfolio_filter_wrapper.gallery.two_cols, #portfolio_filter_wrapper.gallery.three_cols, .portfolio_filter_wrapper.gallery.three_cols, #portfolio_filter_wrapper.gallery.four_cols, .portfolio_filter_wrapper.gallery.four_cols
{
	width: 102%;
	margin: 0;
	box-sizing: border-box;
}

#portfolio_filter_wrapper.gallery.wide, .portfolio_filter_wrapper.gallery.wide
{
	width: 101%;
	margin: 0;
}

.page_content_wrapper.fullwidth #portfolio_filter_wrapper.gallery, #page_content_wrapper.fullwidth #portfolio_filter_wrapper.gallery, .page_content_wrapper.fullwidth .portfolio_filter_wrapper.gallery, #page_content_wrapper.fullwidth .portfolio_filter_wrapper.gallery
{
	width: 98%;
	margin-left: 2%;
	box-sizing: border-box;
}

.gallery_type, .portfolio_type
{
	opacity: 0;
}

.gallery_img
{
	opacity: 0;
	-webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.one_fourth.withbg .page_content_wrapper, .one_third.withbg .page_content_wrapper, .one_half.withbg .page_content_wrapper, .two_third.withbg .page_content_wrapper
{
	padding: 0 10% 0 10%;
	box-sizing: border-box;
}

.error_box
{
	background: #222;
	margin: 0 auto;
	width: 310px;
	height: 310px;
	position: relative;
}

.error_box .error_type
{
	font-size: 156px;
	text-align: right;
	letter-spacing: -15px;
	margin-bottom: 0;
	color: #fff;
	line-height: 0;
	right: 0;
	bottom: 60px;
	position: absolute;
	letter-spacing: -2px;
}

.error_text
{
	font-size: 53px;
	letter-spacing: -1.5px;
	color: #222;
	margin-top: 0;
	text-transform: uppercase;
	text-align: center;
	padding: 0 !important;
	margin-bottom: 10px;
}

.widget_search .searchform  input#s
{
	width: 100%;
	width: calc(100% - 40px);
}

.widget_search .searchform #searchsubmit
{
	padding: 0.8em 1em 0.5em 1em !important;
	margin-left: -5px;
	margin-top: -2px;
}

.widget_mc4wp_form_widget
{
	background: #222;
	color: #ccc;
	border: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li.widget_mc4wp_form_widget h2.widgettitle
{
	color: #fff;
}

.widget_mc4wp_form_widget input[type=submit]
{
	width: 100%;
}

/*------------------------------------------------------------------
[11. Contact Form Captcha]
*/
 
#captcha-wrap
{
	border:solid #870500 1px;
	width:270px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#870500;
	text-align:left;
	padding:3px;
	margin-top:3px;
	height:112px;
}
#captcha-wrap .captcha-box
{
	-webkit-border-radius: 7px;
	background:#fff;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align:center;
	border:solid #fff 1px;
}
#captcha-wrap .text-box
{
	-webkit-border-radius: 7px;
	background:#ffdc73;
	-moz-border-radius: 7px;
	width:140px;
	height:48px;
	float:left;
	margin:4px;
	border-radius: 7px;
	text-align:center;
	border:solid #ffdc73 1px;
}

#captcha-wrap .text-box input
{ 
	width:120px; 
	-webkit-appearance: textfield;
	padding: 1px;
	background-color: white;
	border-image: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	float: none;
	margin: 0;
}
#captcha-wrap .text-box label
{
	 color:#333;
	 font-family: helvetica,sans-serif;
	 font-size:11px;	
	 width:140px;
	 padding-top:3px; 
	 padding-bottom:3px; 
	 margin: 0;
	 font-weight: normal;
	 text-transform: none;
}
#captcha-wrap .captcha-action
{
	float:right; width:117px; 
	background:url(../images/logos.jpg) top right no-repeat; 
	height:44px; margin-top:3px;
}
#captcha-wrap  img#captcha-refresh
{
	margin-top:9px;
	border:solid #333333 1px;
	margin-right:6px;
	cursor:pointer;
}

#reponse_msg ul:empty
{
	margin: 0;
}

#reponse_msg ul
{
	margin-left: 20px;
}

#reponse_msg ul li:last-child
{
	margin-bottom: 20px;
}

#reponse_msg ul li.error
{
	color: #ff0000;
}

.mejs-container
{
	background: #333 !important;
	width: 100% !important;
}

.mejs-container:hover
{
	background: transparent !important;
	color: #000 !important;
}

.one_half img, .one_third img, .one_fourth img, .one_fifth img, .two_third img
{
	max-width: 100% !important;
	height: auto;
}

.animated
{
	visibility: hidden;
}

.fancybox-inner div
{
	max-width: 100% !important;
	height: auto !important;
}

.video-container 
{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px; height: 0; overflow: hidden;
    margin: 20px 0 20px 0;
}
 
.video-container iframe, .video-container object, .video-container embed 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mejs-overlay-button 
{
	display:block; 
	z-index: 99999;
}

.slider_wrapper
{
	width: 100%;
	position: relative;
	overflow: hidden;
}

.slider_wrapper.fixed_width
{
	width: 960px;
    margin: auto;
    margin-top: 35px !important;
}

.slider_wrapper.fixed_width .flex-direction-nav .flex-prev
{
	left: 30px;
}

.slider_wrapper.fixed_width .flex-direction-nav .flex-next
{
	right: 30px;
}

.slider_wrapper.fixed_width:hover .flex-direction-nav .flex-prev
{
	left: 110px;
}

.slider_wrapper.fixed_width:hover .flex-direction-nav .flex-next
{
	right: 110px;
}

.post_wrapper.grid_layout .slider_wrapper
{
	min-height: 190px;
	margin-bottom: 15px;
}