/*# sourceMappingURL=maps/style.css.map */
ul.typeahead{ width:96%; border-radius:0px 0px 6px 6px; max-height:320px; overflow-y:auto; overflow-x: hidden;}
ul.typeahead li a.dropdown-item{
	font-size: 12px;
	color: #666666;
	vertical-align: middle;
	line-height:26px;
}
ul.typeahead li.active a.dropdown-item{ color:#FFFFFF;}
ul.typeahead li{ border-bottom:1px solid #ddf5fc;}
ul.typeahead li:last-child{ border-bottom:none;}
.product-widget .price{ display:none;}
.product-widget p{ font-size:12px; color:#04a4df;}
.product-widget p span{ font-size:11px; color:#86ac13;}
.product-widget{ min-height:380px;}
.side-cart-items tr td p{font-size:11px; color:#999999; }
.side-cart-qty{ margin-top:12px;}
.loading{ text-align:center;}
.swalinput{ width:45%; margin:10px;} 
.swalinput-center{ width:45%; margin:0 auto;} 
.sweet-alert h2{ font-size:20px;}
.sweet-alert p{ text-align:center;}
.sweet-alert .text-muted{ font-size:14px;}
.sweet-alert .text-muted span{ font-size:13px; color:#339933; font-weight:bold; padding-top:20px;}
.col-menu ul.links{ white-space: nowrap;}
.yamm .dropdown-menu .yamm-content .links li a{ display:inline; font-size:12px; line-height:24px; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; letter-spacing:normal; color:#d3004d;}
.yamm .dropdown-menu .yamm-content .links li a:hover{ color:#d3004d;}

a.mnlink{color:#d3004d !important; 
font-weight:bold;}
.breadcrumb-inner ul li a{ text-transform:uppercase;}
.breadcrumb-inner ul li a:last-child{ font-weight:bold;}

.logo{ margin-top:-10px;}
.products{ border:1px solid #EFEFEF; margin-bottom:20px; box-shadow: 2px 2px 3px #EFEFEF; min-height:350px;}
.product-info h3.name{ margin-left:10px; margin-right:10px; }
.product-info h3.name a{ text-transform:capitalize; font-size:11px;  }
.product-info .description{ color:#0099CC;  font-weight:bold; }
.product-info .product-price{ color:#0099FF; font-size:10px; }
.product .product-image .image{width:100%; height:200px; overflow:hidden; }
.product .product-image .image img{ height:200px; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -ms-transition: all 1s ease-in-out; transition: all 1s ease-in-out;}
.product .product-image .image img:hover{ height:300px; width:300px; transform: scale(2,2);}
.info-boxes .info-box .info-box-heading.green {
  color:#ffffff;
}
.info-boxes .info-box h4.icon {color:#ffffff;} .info-boxes .info-box h6.text {color:#ffffff;}

.sidebar-widget-listing { padding:0; padding-top:10px;} .sidebar-widget-listing .widget-header{ margin-left:20px; margin-right:20px; } .sidebar-widget-listing .sidebar-widget-body{ margin-left:20px;}
.sidebar-widget-body ul.list li a{ font-size:11px;}
.accordion a{ font-size:11px;}
.scrolling{ max-height:310px;} .scrolling-x{ max-height:650px;}
html{ overflow-x: hidden;}
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 11;   
}
.modal-backdrop{
    z-index: 10;        
}?
.hidden{ display:none}
.selectpicker { background: #ffffff; color:#666666; font-weight:normal; }
.selectpicker:hover { background: #ffffff;}