<table style="max-width:600px;text-align:left" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
<td style="width:100%;border:1px solid #dddddd" valign="top">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
  	<td style="padding:5px 10px 5px 10px;border-bottom:3px solid #2e3192" valign="top">
    	<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>

<tr>
												<td width="50%">
												<a href="http://www.hospytek.com" target="_blank" style="outline:none; text-decoration:none;">
																				<img src="http://www.hospytek.com/mailer/logo-hospytek.png" alt="Hospytek" style=" border:none; outline:none; text-decoration:none;" border="0" width="123">
																				</a>       
												</td>
												
												<td width="50%" align="right">													

<span style="font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#006699; line-height:24px;">www.hospytek.com</span>
																				<br />
																				<span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:24px; color:#666666">Medical Equipment Marketplace</span>												</td>

												</tr>

</tbody>
</table>
    </td>
  </tr>  
        <tr>
        <td style="width:100%;font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:18px;padding:10px 10px 10px 10px;background:#fdfefe;color:#000" width="100%"><div style="width:50%;padding-right:10px;float:left"><strong>Hi  Bhavishya Garg,</strong><br>
        <br>
        Please click below to update current status of your requirement for <strong>Bakery Trays</strong> posted on <strong>11-FEB-17</strong>.</div>
        <div style="float:right"><img src="https://ci5.googleusercontent.com/proxy/PEM9hCY7IKXmH5NamTgsJdMydjY4fltxkMWVxmWQnhDSTc3N_yIEmXRJ6QU2iVbITxXznrK2KcRhsNs1h3ztCDr5Z6u84Yu8prXPoD3jr14TUBkPDv2J1dOsN80ANd0NkkmLB_AW=s0-d-e1-ft#http://3.imimg.com/data3/SH/HW/MY-947026/bakery-trays-and-containers-125x125.jpg" style="display:block;vertical-align:top;float:right" class="CToWUd" width="100%"></div>
        </td>
        </tr>
<tr>
    <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;background:#f0f8ff;font-weight:bold;color:#080000;text-align:center;padding:10px">Requirement is completed</td>
  	</tr>
    <tr>
    <td style="font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#000;line-height:18px;padding:10px"><table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
    <tr>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;color:#ffffff;border-radius:7px 0px 0px 7px" width="70%"><a style="display:block;color:#fff;text-decoration:none;padding:9px" href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljIifg67YXL81t5npvfViHNvkzgGd8h6COxlJs7E22WrFumQMQAiezjV-2B-2BTKJdV8s-2BEpzN5m85dGFSP9k5o-2B2oF1bmvrISGf2kqnGJ5QKhCv5KZLzkspjtaUd7JEQbHMGkXJ3-2BS-2FOv9XUaVe7cQSMbw9Y5oyP7-2BvwPwWFkICtzGMd_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdofHP9leaKLTaXL2jjHnbVxbm8ZaAYOByS6UKiwLMVI-2BD7XrDwo3C6RQTpoXnQ9RF-2BQHUDlgvjMiH8u-2BBqIRCCmY6-2Fe2pf1t-2BwWpdTUa0tukv1ky7-2F6QvjDQwSSSCLw4PhrIBN0902RgfUH5JPX8P0NyWN3957ApfEt-2F-2B5difofUa7-2BARMV5gnMoK5VX5SK7EEQ-3D-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljIifg67YXL81t5npvfViHNvkzgGd8h6COxlJs7E22WrFumQMQAiezjV-2B-2BTKJdV8s-2BEpzN5m85dGFSP9k5o-2B2oF1bmvrISGf2kqnGJ5QKhCv5KZLzkspjtaUd7JEQbHMGkXJ3-2BS-2FOv9XUaVe7cQSMbw9Y5oyP7-2BvwPwWFkICtzGMd_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdofHP9leaKLTaXL2jjHnbVxbm8ZaAYOByS6UKiwLMVI-2BD7XrDwo3C6RQTpoXnQ9RF-2BQHUDlgvjMiH8u-2BBqIRCCmY6-2Fe2pf1t-2BwWpdTUa0tukv1ky7-2F6QvjDQwSSSCLw4PhrIBN0902RgfUH5JPX8P0NyWN3957ApfEt-2F-2B5difofUa7-2BARMV5gnMoK5VX5SK7EEQ-3D-3D&amp;source=gmail&amp;ust=1488631078819000&amp;usg=AFQjCNH_Z2CfqmESJREPoyJedYT8sv_Zew">Completed through IndiaMART supplier</a></td>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;border-radius:0px 7px 7px 0px" width="30%"><a href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljIifg67YXL81t5npvfViHNvkzgGd8h6COxlJs7E22WrFumQMQAiezjV-2B-2BTKJdV8s-2BEpzN5m85dGFSP9k5o-2B2oF1bmvrISGf2kqnGJ5QKhCv5KZLzkspjtaUd7JEQbHMGkXJ3-2BS-2FOv9XUaVe7cQSMbw9Y5oyP7-2BvwPwWFkICtzGMd_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoaobxmBSiS8pLK9SlB95Edu5P3BiAUOfYbmM72faFBUa6rgV2CYBSx5fZjKzR4t0e3oC9izZxNzhWfeQngFSLA7p6WSULN3KNuTihfaV-2FWWHwsQa2hgYJtg6i91o2En4duPiHMHYqV0q5kvpuFBrZGaxo22uq88qlhwn-2FGAF2d86V0yku4VORrtHgHMft-2B1j4w-3D-3D" style="text-decoration:none;color:#1a1a1a" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljIifg67YXL81t5npvfViHNvkzgGd8h6COxlJs7E22WrFumQMQAiezjV-2B-2BTKJdV8s-2BEpzN5m85dGFSP9k5o-2B2oF1bmvrISGf2kqnGJ5QKhCv5KZLzkspjtaUd7JEQbHMGkXJ3-2BS-2FOv9XUaVe7cQSMbw9Y5oyP7-2BvwPwWFkICtzGMd_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoaobxmBSiS8pLK9SlB95Edu5P3BiAUOfYbmM72faFBUa6rgV2CYBSx5fZjKzR4t0e3oC9izZxNzhWfeQngFSLA7p6WSULN3KNuTihfaV-2FWWHwsQa2hgYJtg6i91o2En4duPiHMHYqV0q5kvpuFBrZGaxo22uq88qlhwn-2FGAF2d86V0yku4VORrtHgHMft-2B1j4w-3D-3D&amp;source=gmail&amp;ust=1488631078820000&amp;usg=AFQjCNF-VwHolLOXzPekBLFjnE5yDYFzHQ"><div style="background-color:#e9072c; color:#ffffff;border-radius:3px;padding:5px;font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:center">Click Here</div></a></td>
    </tr>
    <tr>
      <td height="5px"></td>
      <td></td>
    </tr>
    <tr>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;color:#ffffff;border-radius:7px 0px 0px 7px" width="70%"><a style="display:block;color:#fff;text-decoration:none;padding:9px" href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YDq-2Fjra-2BK83FP7LykmLC975j089utyiOkcbztgPO-2B-2Fwf5chKyxoEcfRLVQFk6OGg2Dg1NCRDLATEuI3g3L810Q-2B7ZvcUXMRxhepWP2yAfcgrYv1fRzUUcfvkYBWknCJ-2FM-2FWhdWrxwF6vxfhn-2BntzhvN8slfWOjDowiYPQZ1F1OCxYMtn6zViMcahScj2ZS0CC2_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoddc4IoJdSaQn1b0Roep1Ra3S4qPDCKJmDUULqO6wwKJjpoRYwr1vMAlumllI8pedjs5F8yeMqkhP0eQaatA-2BZfnZW0UAR17OtK2ov7iIvhMOG-2BartxZ6xct3rhex3ytk8bNCZ-2F9sNxJrM-2BAmsrGOrLpL9BJ60Qc9hKFXA7qXS798F87EIzoZVCP-2BG-2FCltBG0A-3D-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YDq-2Fjra-2BK83FP7LykmLC975j089utyiOkcbztgPO-2B-2Fwf5chKyxoEcfRLVQFk6OGg2Dg1NCRDLATEuI3g3L810Q-2B7ZvcUXMRxhepWP2yAfcgrYv1fRzUUcfvkYBWknCJ-2FM-2FWhdWrxwF6vxfhn-2BntzhvN8slfWOjDowiYPQZ1F1OCxYMtn6zViMcahScj2ZS0CC2_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoddc4IoJdSaQn1b0Roep1Ra3S4qPDCKJmDUULqO6wwKJjpoRYwr1vMAlumllI8pedjs5F8yeMqkhP0eQaatA-2BZfnZW0UAR17OtK2ov7iIvhMOG-2BartxZ6xct3rhex3ytk8bNCZ-2F9sNxJrM-2BAmsrGOrLpL9BJ60Qc9hKFXA7qXS798F87EIzoZVCP-2BG-2FCltBG0A-3D-3D&amp;source=gmail&amp;ust=1488631078820000&amp;usg=AFQjCNGFUXqzUwmQ9bFvlWZAYs3vuWiSLQ">Completed through other supplier</a></td>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;border-radius:0px 7px 7px 0px" width="30%"><a href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YDq-2Fjra-2BK83FP7LykmLC975j089utyiOkcbztgPO-2B-2Fwf5chKyxoEcfRLVQFk6OGg2Dg1NCRDLATEuI3g3L810Q-2B7ZvcUXMRxhepWP2yAfcgrYv1fRzUUcfvkYBWknCJ-2FM-2FWhdWrxwF6vxfhn-2BntzhvN8slfWOjDowiYPQZ1F1OCxYMtn6zViMcahScj2ZS0CC2_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoVlP5IHZDQHW6nOfrnM93NoJC7SeENZYzGT60liL7wwSyq9wSi3AMmUrGOEOKDrYT2r8QUVyxX27uZKKBUykGRNEseAieAPgvHpkAVwxdUJsP5QfJIbrdQ1mjM7qNcj1Ics9jVJztf59ZJY0qOvMHag1HZ-2B6Y77bZDqcSXE-2Fgxi0-2FZYiR4ENmQUJHBdOmsvbbQ-3D-3D" style="text-decoration:none;color:#1a1a1a" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YDq-2Fjra-2BK83FP7LykmLC975j089utyiOkcbztgPO-2B-2Fwf5chKyxoEcfRLVQFk6OGg2Dg1NCRDLATEuI3g3L810Q-2B7ZvcUXMRxhepWP2yAfcgrYv1fRzUUcfvkYBWknCJ-2FM-2FWhdWrxwF6vxfhn-2BntzhvN8slfWOjDowiYPQZ1F1OCxYMtn6zViMcahScj2ZS0CC2_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoVlP5IHZDQHW6nOfrnM93NoJC7SeENZYzGT60liL7wwSyq9wSi3AMmUrGOEOKDrYT2r8QUVyxX27uZKKBUykGRNEseAieAPgvHpkAVwxdUJsP5QfJIbrdQ1mjM7qNcj1Ics9jVJztf59ZJY0qOvMHag1HZ-2B6Y77bZDqcSXE-2Fgxi0-2FZYiR4ENmQUJHBdOmsvbbQ-3D-3D&amp;source=gmail&amp;ust=1488631078820000&amp;usg=AFQjCNGyH2iOH0uzzeaaBD0VL7XeOpLQmA"><div style="background-color:#e9072c; color:#ffffff;border-radius:3px;padding:5px;font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:center">Click Here</div></a></td>
    </tr>
    <tr>
      <td height="5px"></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2" style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;background:#f0f8ff;font-weight:bold;color:#080000;text-align:center;padding:10px">Requirement is not completed</td>
      </tr>
    <tr>
      <td height="10px"></td>
      <td></td>
    </tr>
        <tr>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;color:#ffffff;border-radius:7px 0px 0px 7px" width="70%"><a style="display:block;color:#fff;text-decoration:none;padding:9px" href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljBizyBiK4z4H-2FEYyiFylT-2F2Vw4LeSWvFGcL2-2FCoCsZrsIqWAQbtF2Hi6RO7khYpzYhAJaSJVP05-2Bg8uhLWwCcQqaBzLOcP5PKPBBlG-2B9I-2BwZ6Nlwp3MTkU5-2FcSL4arvuH7EDBlxbgjO56V5U3TPAVCob-2BLMgrowwt3p6P5fwMdcz_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoVc9Z19nAWyKY1ZCYrl-2FvrGZ24I5oXIqPMTa58PL4lRYgoj1X8iLMJyvChZPCf1yyjnOKROFCvk1ef7PP-2Bap0AZhE6X8kM5SXeV4YV7PlTicOEmYkgufYTI5V0LLpqrtoVN8WxMLYAHYKt4Qf7R8tMrKCSFIBV1LpKaV-2BSzAO5vBlWrqRMe37huJweOkYwDK-2Fg-3D-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljBizyBiK4z4H-2FEYyiFylT-2F2Vw4LeSWvFGcL2-2FCoCsZrsIqWAQbtF2Hi6RO7khYpzYhAJaSJVP05-2Bg8uhLWwCcQqaBzLOcP5PKPBBlG-2B9I-2BwZ6Nlwp3MTkU5-2FcSL4arvuH7EDBlxbgjO56V5U3TPAVCob-2BLMgrowwt3p6P5fwMdcz_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoVc9Z19nAWyKY1ZCYrl-2FvrGZ24I5oXIqPMTa58PL4lRYgoj1X8iLMJyvChZPCf1yyjnOKROFCvk1ef7PP-2Bap0AZhE6X8kM5SXeV4YV7PlTicOEmYkgufYTI5V0LLpqrtoVN8WxMLYAHYKt4Qf7R8tMrKCSFIBV1LpKaV-2BSzAO5vBlWrqRMe37huJweOkYwDK-2Fg-3D-3D&amp;source=gmail&amp;ust=1488631078820000&amp;usg=AFQjCNExfLF-aF-5SGxuoenoJNq2RoiMuw">Requirement is on hold</a></td>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;border-radius:0px 7px 7px 0px" width="30%"><a href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljBizyBiK4z4H-2FEYyiFylT-2F2Vw4LeSWvFGcL2-2FCoCsZrsIqWAQbtF2Hi6RO7khYpzYhAJaSJVP05-2Bg8uhLWwCcQqaBzLOcP5PKPBBlG-2B9I-2BwZ6Nlwp3MTkU5-2FcSL4arvuH7EDBlxbgjO56V5U3TPAVCob-2BLMgrowwt3p6P5fwMdcz_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdocOkIu3J0Sa55VtIvCtdNxT6JIBCNZAnGaQ8DrrmJrv-2FcVZHLLGIFj61y3hWcvijRLb1sWnNK0QTV-2FLeGq7oI5T1KqgMSLCnY9APPcxdYfVBxGQmNtVuCkTYf-2FTHHBtZAJ3RBaDhDVLXTjQ1tJJkgpSTUuywikg3aTfj5Bkap4Bw2vSD0UFxzE55eLnSTHxTFw-3D-3D" style="text-decoration:none;color:#1a1a1a" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljBizyBiK4z4H-2FEYyiFylT-2F2Vw4LeSWvFGcL2-2FCoCsZrsIqWAQbtF2Hi6RO7khYpzYhAJaSJVP05-2Bg8uhLWwCcQqaBzLOcP5PKPBBlG-2B9I-2BwZ6Nlwp3MTkU5-2FcSL4arvuH7EDBlxbgjO56V5U3TPAVCob-2BLMgrowwt3p6P5fwMdcz_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdocOkIu3J0Sa55VtIvCtdNxT6JIBCNZAnGaQ8DrrmJrv-2FcVZHLLGIFj61y3hWcvijRLb1sWnNK0QTV-2FLeGq7oI5T1KqgMSLCnY9APPcxdYfVBxGQmNtVuCkTYf-2FTHHBtZAJ3RBaDhDVLXTjQ1tJJkgpSTUuywikg3aTfj5Bkap4Bw2vSD0UFxzE55eLnSTHxTFw-3D-3D&amp;source=gmail&amp;ust=1488631078820000&amp;usg=AFQjCNEmTmBtdVE7XoJEOrWHjRSEUGP5EA"><div style="background-color:#e9072c; color:#ffffff;border-radius:3px;padding:5px;font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:center">Click Here</div></a></td>
    </tr>
    <tr>
      <td height="5px"></td>
      <td></td>
    </tr>
   <tr>      
       <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;color:#ffffff;border-radius:7px 0px 0px 7px" width="70%"><a style="display:block;color:#fff;text-decoration:none;padding:9px" href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljHsJFsH7NQIWpxFQCn1B3HSjByefMAXNw2YRYldxUAk10-2BmS-2BKsykKBZjQt-2BDC1TEjbIiOd8aDsDjnq-2BdiVLRayka3a-2FCzl7v1EWSw5rZ1MrfrYkIHMH1PQQ5Stp1RXAUnFJ2ApFpREi7B9Vwo43NZfzuebdoFTc80mhv-2FfBBV30_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoaqfMIcsZu8OY3H5Es2MPVqYywY9bv1-2FqOpxmyboBQP7uvNOh8mD4pFpyr8Sx993F4-2FBnhrDEJYKLzqAp3U59x7Ipj0-2F74dpjX64-2Ba-2B-2BEa4YaVKJURl-2B9qiYqbUrvD9MCGLXxwo6bxRSQwS63eH1gCp4fv2LKJt6QXtTvOPKXQxJ3Uh8yJhQngHUsjXofPGe-2FQ-3D-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljHsJFsH7NQIWpxFQCn1B3HSjByefMAXNw2YRYldxUAk10-2BmS-2BKsykKBZjQt-2BDC1TEjbIiOd8aDsDjnq-2BdiVLRayka3a-2FCzl7v1EWSw5rZ1MrfrYkIHMH1PQQ5Stp1RXAUnFJ2ApFpREi7B9Vwo43NZfzuebdoFTc80mhv-2FfBBV30_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoaqfMIcsZu8OY3H5Es2MPVqYywY9bv1-2FqOpxmyboBQP7uvNOh8mD4pFpyr8Sx993F4-2FBnhrDEJYKLzqAp3U59x7Ipj0-2F74dpjX64-2Ba-2B-2BEa4YaVKJURl-2B9qiYqbUrvD9MCGLXxwo6bxRSQwS63eH1gCp4fv2LKJt6QXtTvOPKXQxJ3Uh8yJhQngHUsjXofPGe-2FQ-3D-3D&amp;source=gmail&amp;ust=1488631078821000&amp;usg=AFQjCNEvTnwPNC8KpL8tPbILL7YBBFW79w">In discussion with supplier(s)</a></td>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;border-radius:0px 7px 7px 0px" width="30%"><a href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljHsJFsH7NQIWpxFQCn1B3HSjByefMAXNw2YRYldxUAk10-2BmS-2BKsykKBZjQt-2BDC1TEjbIiOd8aDsDjnq-2BdiVLRayka3a-2FCzl7v1EWSw5rZ1MrfrYkIHMH1PQQ5Stp1RXAUnFJ2ApFpREi7B9Vwo43NZfzuebdoFTc80mhv-2FfBBV30_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoTPWOoKtteNPgP2vYXGYZTuo5XUU1K5H1YBLTr1JcbJvbs6vn6VaMerMUoWmnir-2FqeR-2B4Eytmc1VpTFYpOwv5hUBq0HQ983W4eiMzNqoO5Rr6vNHKMQKR9puTOZXc3Jh-2BnSH6SOYrTQfw7Za6sQQAq9jSU1l-2BPGtE0SWjdDYWhfE5bz1EMznNDuz2QLZTetJgA-3D-3D" style="text-decoration:none;color:#1a1a1a" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD5OwBa-2BYKXY2EWNLh1rjljHsJFsH7NQIWpxFQCn1B3HSjByefMAXNw2YRYldxUAk10-2BmS-2BKsykKBZjQt-2BDC1TEjbIiOd8aDsDjnq-2BdiVLRayka3a-2FCzl7v1EWSw5rZ1MrfrYkIHMH1PQQ5Stp1RXAUnFJ2ApFpREi7B9Vwo43NZfzuebdoFTc80mhv-2FfBBV30_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoTPWOoKtteNPgP2vYXGYZTuo5XUU1K5H1YBLTr1JcbJvbs6vn6VaMerMUoWmnir-2FqeR-2B4Eytmc1VpTFYpOwv5hUBq0HQ983W4eiMzNqoO5Rr6vNHKMQKR9puTOZXc3Jh-2BnSH6SOYrTQfw7Za6sQQAq9jSU1l-2BPGtE0SWjdDYWhfE5bz1EMznNDuz2QLZTetJgA-3D-3D&amp;source=gmail&amp;ust=1488631078821000&amp;usg=AFQjCNHtsRtpX_Llzh4r-M7NhVcUrNg4gw"><div style="background-color:#e9072c; color:#ffffff;border-radius:3px;padding:5px;font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:center">Click Here</div></a></td>
    </tr>
    <tr>
      <td height="5px"></td>
      <td></td>
    </tr>

    <tr>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;color:#ffffff;border-radius:7px 0px 0px 7px" width="70%"><a style="display:block;color:#fff;text-decoration:none;padding:9px" href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD4gV-2Bn60RSvxNDdUEpykqBuWgYnNjc3BJQXAZEEfwqyJ2jfY9QLm-2B4SxFbDhKprq9lYinBV8zEdImwkpOpB8ysH6aw5cKfZ4q7DY0WTnDjlkxvM5NoZV56sVnUfxqLIJViJ2XXIwcbjuP7vAxdeDjo0eKRpCjAeWcEClo3utPcFMPOTi1cvoenMKP0BowV39F_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdobcdpdeliN9KZv9yFuGGQp-2Fe1ms6f-2FXwzwtA6BZ2qlig-2FUhzimUyJlOEXnNI-2B-2BOjJYBpfWUThRVUMFymt6WOhzqQafipYnOA2LpFXaBNTzlWf8lNfkjPfms5y2xzjo16iWeHn9VMK-2FlRL-2FSXruTiz485xa3vLpj7E7VZtflkG0pVoXh9CwEZKPg7XFXzJGHtuQ-3D-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD4gV-2Bn60RSvxNDdUEpykqBuWgYnNjc3BJQXAZEEfwqyJ2jfY9QLm-2B4SxFbDhKprq9lYinBV8zEdImwkpOpB8ysH6aw5cKfZ4q7DY0WTnDjlkxvM5NoZV56sVnUfxqLIJViJ2XXIwcbjuP7vAxdeDjo0eKRpCjAeWcEClo3utPcFMPOTi1cvoenMKP0BowV39F_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdobcdpdeliN9KZv9yFuGGQp-2Fe1ms6f-2FXwzwtA6BZ2qlig-2FUhzimUyJlOEXnNI-2B-2BOjJYBpfWUThRVUMFymt6WOhzqQafipYnOA2LpFXaBNTzlWf8lNfkjPfms5y2xzjo16iWeHn9VMK-2FlRL-2FSXruTiz485xa3vLpj7E7VZtflkG0pVoXh9CwEZKPg7XFXzJGHtuQ-3D-3D&amp;source=gmail&amp;ust=1488631078821000&amp;usg=AFQjCNEGsvyDZir2JZdXc_jDAGHFYCYmGA">Supplier(s) not responding</a></td>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;border-radius:0px 7px 7px 0px" width="30%"><a href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD4gV-2Bn60RSvxNDdUEpykqBuWgYnNjc3BJQXAZEEfwqyJ2jfY9QLm-2B4SxFbDhKprq9lYinBV8zEdImwkpOpB8ysH6aw5cKfZ4q7DY0WTnDjlkxvM5NoZV56sVnUfxqLIJViJ2XXIwcbjuP7vAxdeDjo0eKRpCjAeWcEClo3utPcFMPOTi1cvoenMKP0BowV39F_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoaXi8fJekhuDLl9eEm2UWdnp1Fx8Gj4UUsNnmqatSsLBBgmBx3z5qlTtqUn52XZ-2BRmmFh5wpLP9x4gpajNW1SPg7TY-2BYy1IO3e9sT8ya9ciDLxeUm0Dz1jH-2BhCKhcOp7Jc-2B5eQpJjRC-2FgtFr8Il7EXYXmyk-2FNxF3kMlocNNTOz2fV4zRw18Ca29PzTpCuBfXyA-3D-3D" style="text-decoration:none;color:#1a1a1a" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YD4gV-2Bn60RSvxNDdUEpykqBuWgYnNjc3BJQXAZEEfwqyJ2jfY9QLm-2B4SxFbDhKprq9lYinBV8zEdImwkpOpB8ysH6aw5cKfZ4q7DY0WTnDjlkxvM5NoZV56sVnUfxqLIJViJ2XXIwcbjuP7vAxdeDjo0eKRpCjAeWcEClo3utPcFMPOTi1cvoenMKP0BowV39F_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoaXi8fJekhuDLl9eEm2UWdnp1Fx8Gj4UUsNnmqatSsLBBgmBx3z5qlTtqUn52XZ-2BRmmFh5wpLP9x4gpajNW1SPg7TY-2BYy1IO3e9sT8ya9ciDLxeUm0Dz1jH-2BhCKhcOp7Jc-2B5eQpJjRC-2FgtFr8Il7EXYXmyk-2FNxF3kMlocNNTOz2fV4zRw18Ca29PzTpCuBfXyA-3D-3D&amp;source=gmail&amp;ust=1488631078821000&amp;usg=AFQjCNHW1RR3ISFHm20Ld3YzEmNAyWW1Yg"><div style="background-color:#e9072c; color:#ffffff;border-radius:3px;padding:5px;font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:center">Click Here</div></a></td>
    </tr>
    <tr>
      <td height="5px"></td>
      <td></td>
    </tr>
    <tr>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;color:#ffffff;border-radius:7px 0px 0px 7px" width="70%"><a style="display:block;color:#fff;text-decoration:none;padding:9px" href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YDgdhjBkp6nnU8lOK8uaC5KKRI4Gx3f-2BUqOJe3Jd7a6qS5916VkAu1wMZyqv5Oj6Og4DMZOK-2FuKd3RLVa5iV9zdR1XN9oFO3kGmu4O0VCZlAGBMhlZBzAjs1qBINSpQfmU-2B8VhmbB4RjuxRCxwuMVrlCFocBkG7QPNbEOQncRvXs7DQ00cRm1Savo-2BHkvxZxj8_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoZT0co53cTVLL-2BJtQ3AyVzIirrdlhBM-2BeUZk7MwS23eHt17PYQ3regR1IAjXBkfvaqbT4JNWkjke6BbKeNMyQ1PYD-2Fq9QLou8juZxrugTDWboeUu5XvJVHXo74lS7wpik2vJkTKHu6jzunTrB3T4kCpqYFlcBFhhalLgzpZDJTeARMtljPm9zGoEdQDjJVhJ0w-3D-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YDgdhjBkp6nnU8lOK8uaC5KKRI4Gx3f-2BUqOJe3Jd7a6qS5916VkAu1wMZyqv5Oj6Og4DMZOK-2FuKd3RLVa5iV9zdR1XN9oFO3kGmu4O0VCZlAGBMhlZBzAjs1qBINSpQfmU-2B8VhmbB4RjuxRCxwuMVrlCFocBkG7QPNbEOQncRvXs7DQ00cRm1Savo-2BHkvxZxj8_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdoZT0co53cTVLL-2BJtQ3AyVzIirrdlhBM-2BeUZk7MwS23eHt17PYQ3regR1IAjXBkfvaqbT4JNWkjke6BbKeNMyQ1PYD-2Fq9QLou8juZxrugTDWboeUu5XvJVHXo74lS7wpik2vJkTKHu6jzunTrB3T4kCpqYFlcBFhhalLgzpZDJTeARMtljPm9zGoEdQDjJVhJ0w-3D-3D&amp;source=gmail&amp;ust=1488631078822000&amp;usg=AFQjCNHni3LNjdzm13k5sr_RGbmFCkMnLg">Need more supplier(s)</a></td>
      <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#000;line-height:18px;padding:10px;background-color:#0845c1;border-radius:0px 7px 7px 0px" width="30%"><a href="http://sendgrid1.indiamart.com/wf/click?upn=fvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YDgdhjBkp6nnU8lOK8uaC5KKRI4Gx3f-2BUqOJe3Jd7a6qS5916VkAu1wMZyqv5Oj6Og4DMZOK-2FuKd3RLVa5iV9zdR1XN9oFO3kGmu4O0VCZlAGBMhlZBzAjs1qBINSpQfmU-2B8VhmbB4RjuxRCxwuMVrlCFocBkG7QPNbEOQncRvXs7DQ00cRm1Savo-2BHkvxZxj8_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdodMc9B3ICHaQcZwwyqQGAez1GgKqpASASnQa7uT4Jqhr1FUiX-2FVjhqtOCZlOU2ygKicxF7NQUxyrXRs3-2Bu4ghKae7knSuK-2BcMns3dl5pWTah3JxUr0ufxovAxG-2BNWR6vyHpJngE8kSIXs2leq3Pu4bDeg0JdnRz-2Fdv5EiupceZzf-2BDtYjxbQylQ-2BZxnteju9SQ-3D-3D" style="text-decoration:none;color:#1a1a1a" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://sendgrid1.indiamart.com/wf/click?upn%3DfvLJGfvdOlP3WjQWKGBjSpLYRrdmFkv0fcSSyf2qQc43-2FqYyRKoO-2FSyb8RNtfeDtuq2kHOYcy7TTcISaHP87aBnSi6ivSPZ9kmtf-2FAhr1ZlbMDsJT34czP5LSXo7riiSMpdVsaghMbCXbtew9drrTfJWm6dWiK1JYvaJkDEVf-2BxhsetFG9HXdoPY-2FXfZ-2F7knNAxwwr0A-2BL5ITuwnXPB6IDg3fa2-2FBZvVVmfcSG9JZfxR9RpyDe-2FlfqMLV-2FdWSjY49VmBajLDluLw8dBUf6lW9Ps98YSmAoYBVHJRrqa3lqQRH7-2BAwzVPEIoYbQT-2FMzVdhI-2BgGTXDhCy-2BEUo2axzSnXs-2FOFWpkN4DC-2FPuk9dmhUV78aFqVXBF-2Fs-2BP9-2Bthd8YDgdhjBkp6nnU8lOK8uaC5KKRI4Gx3f-2BUqOJe3Jd7a6qS5916VkAu1wMZyqv5Oj6Og4DMZOK-2FuKd3RLVa5iV9zdR1XN9oFO3kGmu4O0VCZlAGBMhlZBzAjs1qBINSpQfmU-2B8VhmbB4RjuxRCxwuMVrlCFocBkG7QPNbEOQncRvXs7DQ00cRm1Savo-2BHkvxZxj8_VLwloVawb-2BTieiFCyLPxACJqPUjU9L05v7vvP2C3o9mPmSd-2BT9oWUHubFaa-2F5FV1t3qi6z-2F3wFXJJvFU09DANlZ973WUquj3jkgK2TuUehO4m1MYFlKIlvjdhXXUoV2YFZ-2F8TXCkLm839a2JSj-2F9EzVx8uRsWAd4YLfApvMd5Bv6fW7rlYn2JJLw-2FYaTkKeigH1BN51-2FhmAGE9Z-2Fl2c55pZ2tQJ6uRR4Cq4sB-2BL5T2rShuU-2BEh9sTKripVI4zXYNYvmx7cMGKch9KHkSeyVdodMc9B3ICHaQcZwwyqQGAez1GgKqpASASnQa7uT4Jqhr1FUiX-2FVjhqtOCZlOU2ygKicxF7NQUxyrXRs3-2Bu4ghKae7knSuK-2BcMns3dl5pWTah3JxUr0ufxovAxG-2BNWR6vyHpJngE8kSIXs2leq3Pu4bDeg0JdnRz-2Fdv5EiupceZzf-2BDtYjxbQylQ-2BZxnteju9SQ-3D-3D&amp;source=gmail&amp;ust=1488631078822000&amp;usg=AFQjCNFUiThRCFBWOVdZwoV-4eOt3ninpQ"><div style="background-color:#e9072c; color:#ffffff;border-radius:3px;padding:5px;font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:center">Click Here</div></a></td>
    </tr>
  </tbody>
</table>
</td>
  	</tr>
 <tr>
    <td style="padding:10px">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
 <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#fff;border:1px solid #d1d1d1;text-align:center" width="100%" valign="top">
 	<table style="background:#eee;border-bottom:1px solid #d1d1d1" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td style="width:100%;font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#2e3192;text-align:left;padding:7px 5px 7px 5px;background:#eee;font-weight:bold">Happy to Help</td>
  </tr>
</tbody></table>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td style="width:50%;font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:18px;color:#000;padding:5px;text-align:left;border-right:1px solid #d1d1d1" width="50%"><strong>Email:</strong>
      <a href="mailto:buyershelp@indiamart.com" style="color:#444" target="_blank">buyershelp@indiamart.com</a><br>
	<strong>Call Us:</strong> <span style="color:#444"><a style="color:#444">096-9696-9696</a></span></td>
     </tr>
</tbody></table>   
	</td>
  </tr>
</tbody></table>
<table cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody><tr>
    <td style="font-family:Arial,Helvetica,sans-serif;font-size:10px;text-align:center;color:#737373;padding:5px 0 0 0" valign="top">IndiaMART InterMESH Ltd. Advant Navis Business Park, 7th Floor, Sector - 142, Noida, UP</td>
  </tr>
</tbody></table></td>
  	</tr>
  	 	
</tbody></table>
    </td>
  </tr>
</tbody></table>