/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/**************************************
CSS RESET
**************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; 
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none  !important;
}
.section-padding{
    padding: 30px 0px;
}
/**************************************************************
NAVIGATION
**************************************************************/
.header{
  
    background-size: cover;
    
}
.bg-color {
   
    min-height: 600px;
}
.navbar-inverse {
   
    border-color: #080808;
}
.navbar{
    border: 0px;
    border-radius: 0px;
}
.navbar-nav a {
    padding: 5px 0px 5px 0px;
    color: #03a9f4;
    text-transform: uppercase;
}
.navbar-brand {
    font-family: 'Caesar Dressing', cursive;
    font-size: 35px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar {
    margin-bottom: 0px;
    border: 0px;
   
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
}
.banner-text span {
    color: #fefefe;
    display: block;
    margin-bottom: 15px;
}
.banner-text{
    margin-top: 150px;
}
.banner-text h1 {
    color: #fefefe;
    font-size: 44px;
    text-transform: uppercase;
}
.banner-text h1 + p {
    color: #b6b6b6;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 45px;
}
.banner-text .Started-btn{
    background: #f64747 none repeat scroll 0 0;
    border: 5px solid #a53939 !important;
    padding: 13px 35px;
    color: #fff;
}
.more-btn {
    border: 1px solid;
    color: #fff;
    letter-spacing: 1px;
    padding: 16px 35px;
    position: relative;
    text-transform: uppercase;
    z-index: 999;
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    margin: 0 5px;
}
.radius-0{
    border-radius: 0px;
}
.more-btn:hover, .more-btn:focus{
    border-color: #f64747;
    color: #f64747;
}
/**************************************************************
BANNER
**************************************************************/
/**************************************************************
CTA 1
**************************************************************/
.cta-info {
    background-color: #f64747;
    padding: 40px 0px;
    margin: 60px 0px;
    border-radius: 5px;
}
.cta-info h3 {
    font-size: 24px;
    color: #fff;
}
.dec-tec {
    font-size: 34px;
}
/**************************************************************
FEATURE
**************************************************************/
.fea i {
    font-size: 39px;
    color: #f64747;
    margin-top: 30px;
}
.fea-img {
    width: 20%;
}
.heading h4 {
    font-size: 18px;
    margin: 10px 0px;
    text-transform: uppercase;
    text-align: left;
    padding: 20px 0px;
}
p {
    color: #888;
}
.heading {
    width: 80%;
}
.filimg{
    margin-bottom: 30px;
}
.pg-titl-bdr-btm {
    width: 100px;
    height: 3px;
    background-color: #f64747;
    margin-bottom: 60px;
}
h1 {
    font-size: 36px;
}
/**************************************************************
SUBSCRIBE
**************************************************************/
.contact-section h3 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.space {
    margin-top: 40px;
}
.contact-section form {
    padding: 30px 0;
}
.contact-section .btn:hover, .contact-section .btn:focus {
    background: #f64747;
    border: 2px solid #f64747;
    color: #fff;
}
.contact-section .btn {
    background: #fbfbfb;
    border: 2px solid #ccc;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 0;
    color: #aaa;
    font-size: 15px;
    border-radius: 0px;
}
.footer_copyright p span{
    color: #f64747;
}
/**************************************************************
PORTFOLIO
**************************************************************/
#product, #cta-1 {
   background:linear-gradient(to bottom, rgba(51, 204, 255, 0.46) 0%, rgba(255, 153, 204, 0.38) 100%); 
}

/**************************************************************
CONTACT US
**************************************************************/
/**************************************************************
FOOTER
**************************************************************/
.footer {
    background-color: #040E18;
    float: left;
    width: 100%;
}
.footer_social ul li a {
    background: #2e3537 none repeat scroll 0 0;
    border: 1px solid #2e3537;
    box-shadow: 0 0 0 7px transparent;
    color: #aaa;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 21px;
    padding: 9px 13px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 40px;
}
.footer_social ul li {
    margin: 2px;
    display: inline-block;
}
.footer h3 {
    color: #fff;
    padding-bottom: 30px;
}
.footer-bottom {
    background: linear-gradient(to bottom left, #33ccff 0%, #ccffff 100%);
    padding: 20px 0;
    float: left;
    width: 100%;
}
.footer-link, .footer-link:hover, .footer-link:focus
{
    color: #f64747;
    text-decoration: none;
}
/**************************************************************
Media Queries
**************************************************************/
@media (min-width: 220px) and (max-width: 451px){
    .banner-text .Started-btn {
    padding: 10px 10px;
}
.more-btn {
    padding: 12px 15px;
}
.banner-text h1 {
    font-size: 35px;
}
.heading h4 {
    font-size: 17px;
}
.contact-section{
    margin-bottom: 50px;
}
.cta-info h3 {
    font-size: 20px;
    color: #fff;
}
h1 {
    font-size: 30px;
}
}