
            .save
            {
            position: relative;
            top: 0px; 
            left: 0px;
            }
            .money
            {
            position: absolute;
            top: 908px;
            left: 350px;
            }
     